@model prjMSIT145_Final.ViewModels.CNormalMemberViewModel

@{
    ViewData["Title"] = "Alterpassword";
}

@section Styles{
    <style>

    </style>
    <link rel="stylesheet" href="~/css/Customer_css/Alterpassword.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/Customer_css/CBSonlyClass.css" />

}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="font-size:30px;"class="modal-title" id="exampleModalLabel">更改密碼</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div style="font-size:24px;font-weight:bold" class=" modal-body">
                    確定要修改嗎?
                </div>
                <div class="modal-footer">
                    <button id="btncancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button id="btncorrect" type="button" class="btn btn-primary">修改</button>
                </div>
            </div>
        </div>
    </div>

    <form asp-action="Alterpassword" id="Alterpassword" name="Alterpasswordform">
    <div class="wrap">
    <div class="leftgroup">
        <div class="card1">
            <div class="backcolor">
                <img style="border-radius:80px" src="~/images/Customer/Member/@Model.MemberPhotoFile" class="dog">
                <div class="text6">@Model.MemberName</div>
                <div class="text6">@Model.Phone</div>
            </div>
        </div>
        <div class="card2">
                <div class="text2"><img class="imgselect" src="@Url.Content("~/images/Customer/Member/editmember.png")" /><a class="aclass" href="@Url.Content("~/CustomerMember/Edit")">個人檔案</a></div>
                <div class="text2"><img class="imgselect" src="@Url.Content("~/images/Customer/Member/alterpasswordkey.png")" /><a class="aclass" href="@Url.Content("~/CustomerMember/Alterpassword")">修改密碼</a></div>
                <div class="text2"><img class="imgselect" src="@Url.Content("~/images/Customer/Member/salemember.png")" /><a class="aclass" href="@Url.Content("~/Coupon/CCoupons2Member")">我的券夾</a></div>
        </div>
    </div>
        <div class="card3">
            <div class="card30">
                <h2 class="title2"><img class="cardthreeimage"src="@Url.Content("~/images/Customer/Member/alterpasswordkey.png")" />修改密碼</h2>
                <div class="dashed"></div>
           <input type="hidden" name="Fid" value="@Model.Fid" />
            <span class="text3">
                <p class="color">*</p>
                <p class="text4">舊密碼</p>
            </span>
            <div class="divhint">
            <div class="div1">
                <input id="Oldpassword" type="password" class="input" name="OldPassword" value=""  />
                 <i style="margin-top:10px;margin-left:-20px;" class="far fa-eye" id="togglePasswordOld"></i>
                 
            </div>
                 <span id="oldpasswordcorrect" class="spanerrormessage"></span>
              </div>
            <span class="text3">
                <p class="color">*</p>
                <p class="text4">新密碼<span class="necessspan">(必填)</span><span class="Formatspan">(大小寫英文加4個數字)</span></p>
            </span>
            <div class="divhint">
            <div class="div1">
                    <input id="Password" type="password" class="input" name="Password" value=""  />
                 <i style="margin-top:10px;margin-left:-20px;" class="far fa-eye" id="togglePassword"></i>
            </div>
                
            <span id="passwordcorrect" class="spanerrormessage"></span>
                </div>
            <span class="text3">
                <p class="color">*</p>
                    <p class="text4">確認新密碼<span class="necessspan">(必填)</span><span class="Formatspan">(與密碼一致)</span></p>
            </span>
                <div class="divhint">
            <div class="div1">
                            <input id="Password2" type="password" class="input" name="Passwordcheck" value="" />
                            <i style="margin-top:10px;margin-left:-20px;" class="far fa-eye" id="togglePassword2"></i>
            </div>
                <span id="password2correct" class="spanerrormessage"></span>
                </div>
                <div class="dashed"></div>
                <div class="display">
                    <input id="submitbtn" type="submit" class="enter" value="修改"@* data-bs-toggle="modal"*@ data-bs-target="#exampleModal" />
                </div>




                    <input type="button" class="democorrect" id="democorrectid" value="" />
                    <input type="button" class="demoerror" id="demoerrorid" value="" />
            </div>
               
        </div>
    </div>
    </form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    
    <script>
        var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
            keyboard: false
        })
        


        document.getElementById("Password").addEventListener("blur", checkPassword);
        function checkPassword() {
            var passwordobj = document.getElementById("Password");
            var pass2 = document.getElementById("Password2");
            var spnpasswordobj = document.getElementById("passwordcorrect");
            var passwordval = passwordobj.value;

            if (passwordval == "") {
                spnpasswordobj.innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>此欄位必填";
                submitbtn.setAttribute('disabled', 'disabled');

                return;
            }
            else {
                spnpasswordobj.innerHTML = "";
                submitbtn.removeAttribute('disabled');
            }
            if (passwordval.length < 6) {
                spnpasswordobj.innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>請輸入超過6個字";
                submitbtn.setAttribute('disabled', 'disabled');

                return;
            }
            else {
                spnpasswordobj.innerHTML = "";
                submitbtn.removeAttribute('disabled');
            }
            if (passwordval.length >= 6) {

               
                re = new RegExp(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$/);
                if (re.test(passwordval)) {
                    submitbtn.removeAttribute('disabled');
                    spnpasswordobj.innerHTML = "";
                }
                else {
                    spnpasswordobj.innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>請輸入正確格式";
                    submitbtn.setAttribute('disabled', 'disabled');
                    return;
                }


            }
            if (passwordobj.value != pass2.value){
                spnpasswordobj.innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>請確認上下密碼一致";
                submitbtn.setAttribute('disabled', 'disabled');
                return;

            }
            else {
                spnpasswordobj.innerHTML = "";
                submitbtn.removeAttribute('disabled');
            }
        };
        document.getElementById("Password2").addEventListener("blur", checkPassword2);
        function checkPassword2(){
            var pass1 = document.getElementById("Password");
            var pass2 = document.getElementById("Password2");
            var spnpassword2 = document.getElementById("password2correct");
            if (pass1.value != pass2.value) {
                spnpassword2.innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>請確認上下密碼一致";
                submitbtn.setAttribute('disabled', 'disabled');

            }
            else {
                submitbtn.removeAttribute('disabled');
                spnpassword2.innerHTML = "";
            }
        };

        const oldwordicon =document.querySelector("#togglePasswordOld");
        const oldpassword = document.querySelector("#Oldpassword");

        oldwordicon.addEventListener("click",()=>{


            const type = oldpassword.getAttribute('type') === 'password' ? 'text' : 'password';
            oldpassword.setAttribute('type', type);

            oldwordicon.classList.toggle('fa-eye-slash');
        });






        const passwordicon = document.querySelector("#togglePassword");                   //密碼顯示轉換
        const password = document.querySelector("#Password");

        passwordicon.addEventListener("click", function(){

            const type = password.getAttribute('type') ==='password'?'text':'password';
            password.setAttribute('type', type);

            this.classList.toggle('fa-eye-slash');
        });

            const passwordicon2 = document.querySelector("#togglePassword2");
            const password2 = document.querySelector("#Password2");

        passwordicon2.addEventListener("click", () => {                                  //密碼顯示轉換

           const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
           password2.setAttribute('type', type);

           passwordicon2.classList.toggle('fa-solid fa-eye-slash');
        });


        document.getElementById("submitbtn").addEventListener("click",async ()=>{                //判斷舊密碼 與修改密碼彈窗
            event.preventDefault();
            try{
            let formdata = new FormData(document.Alterpasswordform);

            const request = await fetch(`@Url.Content("~/CustomerMember/Alterpasswordverify")`,{

                body: formdata,
                method:"Post"

            })
            // .then(
            //        data=>data.json()
            //    ).then(
            //        data => {
            //           // console.log(`data=${data}`);
            //            if (data == "舊密碼錯誤"){
            //                console.log(`data=${data}`);
            //                document.getElementById("oldpasswordcorrect").innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>" + data;
            //                return;
            //            }else{
            //                console.log(`data=${data}`);
            //                    myModal.show();
            //            }
            //        }
            //    );


            const data= await request.json();

            if (data == "舊密碼錯誤"){
                document.getElementById("oldpasswordcorrect").innerHTML="<img src='@Url.Content("~/images/Customer/Member/error.png")'/>舊密碼錯誤";
                return;
            }else{
                    document.getElementById("oldpasswordcorrect").innerHTML ="";
                    myModal.show();
            }
 
            }
            catch(error){
                return;
            }

          
           });

           


        document.getElementById("btncorrect").addEventListener("click", () => {
            alert("修改成功");
            document.getElementById('Alterpassword').submit();
            myModal.hide();
        });

        document.getElementById("btncancel").addEventListener("click", () => {
            myModal.hide();
        });



        document.getElementById("democorrectid").addEventListener('click', () => {                             //正確DEMO鍵
            document.getElementById("Oldpassword").value="aA1234"
            document.getElementById("Password").value = "aA12345"
            document.getElementById("Password2").value = "aA12345";
            checkPassword();
            checkPassword2();
        });

        document.getElementById("demoerrorid").addEventListener('click', () => {                                 //錯誤
            document.getElementById("Oldpassword").value = "D585698"
            document.getElementById("Password").value = "";
            document.getElementById("Password2").value = "A1234";
            checkPassword();
            checkPassword2();

        });


        


       




        







    </script>
}
