@model prjMSIT145_Final.ViewModels.CNormalMemberViewModel

@{
    ViewData["Title"] = "Alterpassword";
}

@section Styles{
    <style>

    </style>
    <link rel="stylesheet" href="~/css/Customer_css/Alterpassword.css">

}
 <form asp-action="Alterpassword" >
    <div class="wrap">
    <div class="leftgroup">
        <div class="card1">
            <div class="backcolor">
                <img src="~/images/@Model.MemberPhotoFile" class="dog">
                <div class="text6">@Model.MemberName</div>
                <div class="text6">@Model.Phone</div>
            </div>
        </div>
        <div class="card2">
            <div class="text2"><a href="@Url.Content("~/CustomerMember/Edit")">個人檔案</a></div>
                    <div class="text2"><a href="@Url.Content("~/CustomerMember/Alterpassword")">修改密碼</a></div>
            <div class="text2">我的券夾</div>
        </div>
    </div>
        <div class="card3">
                <h2 class="title2"><img src="@Url.Content("~/images/Customer/Member/person.png")" />修改密碼</h2>
                <div class="dashed"></div>
           <input type="hidden" name="Fid" value="@Model.Fid" />
            <span class="text3">
                <p class="color">*</p>
                <p class="text4">舊密碼</p>
            </span>
            <div class="div1">
                    <p class="input"/> @Model.Password</p>
            </div>
            <span class="text3">
                <p class="color">*</p>
                <p class="text4">新密碼</p>
            </span>
            <div class="div1">
                <input type="text" class="input" name="Password" value="" />
            </div>
            <span class="text3">
                <p class="color">*</p>
                <p class="text4">確認新密碼</p>
            </span>
            <div class="div1">
                <input type="text" class="input" name="Password" value="" />
            </div>
                <div class="display">
               <input type="submit" class="enter" value="修改"/>
             </div>






        </div>
    </div>
    </form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
