@model prjMSIT145_Final.ViewModels.CNormalMemberViewModel

@{
    ViewData["Title"] = "Alterpassword";
}

@section Styles{
    <style>

    </style>
    <link rel="stylesheet" href="~/css/Customer_css/Alterpassword.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

}
 <form asp-action="Alterpassword" >
    <div class="wrap">
    <div class="leftgroup">
        <div class="card1">
            <div class="backcolor">
                <img style="border-radius:80px" src="~/images/@Model.MemberPhotoFile" class="dog">
                <div class="text6">@Model.MemberName</div>
                <div class="text6">@Model.Phone</div>
            </div>
        </div>
        <div class="card2">
            <div class="text2"><a href="@Url.Content("~/CustomerMember/Edit")">個人檔案</a></div>
                    <div class="text2"><a href="@Url.Content("~/CustomerMember/Alterpassword")">修改密碼</a></div>
            <div class="text2">我的券夾</div>
        </div>
    </div>
        <div class="card3">
                <h2 class="title2"><img src="@Url.Content("~/images/Customer/Member/person.png")" />修改密碼</h2>
                <div class="dashed"></div>
           <input type="hidden" name="Fid" value="@Model.Fid" />
            <span class="text3">
                <p class="color">*</p>
                <p class="text4">舊密碼</p>
            </span>
            <div class="div1">
                    <p class="input"/> @Model.Password</p>
            </div>
            <span class="text3">
                <p class="color">*</p>
                <p class="text4">新密碼<span class="necessspan">(必填)</span><span class="Formatspan">(大小寫英文加4個數字)</span></p>
            </span>
            <div class="divhint">
            <div class="div1">
                 <input id="Password" type="text" class="input" name="Password" value="" />
                 <i style="margin-top:10px;" class="far fa-eye" id="togglePassword"></i>
            </div>
                
            <span id="passwordcorrect" class="spanerrormessage"></span>
                </div>
            <span class="text3">
                <p class="color">*</p>
                    <p class="text4">確認新密碼<span class="necessspan">(必填)</span><span class="Formatspan">(與密碼一致)</span></p>
            </span>
                <div class="divhint">
            <div class="div1">
                <input id="Password2" type="text" class="input" name="Password" value="" />
                  <i style="margin-top:10px;" class="far fa-eye" id="togglePassword2"></i>
            </div>
                <span id="password2correct" class="spanerrormessage"></span>
                </div>
                <div class="dashed"></div>
                <div class="display">
                    <input id="submitbtn" type="submit" class="enter" value="修改" />
                </div>






        </div>
    </div>
    </form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>



        document.getElementById("Password").addEventListener("blur", checkPassword);
        function checkPassword() {
            var passwordobj = document.getElementById("Password");
            var spnpasswordobj = document.getElementById("passwordcorrect");
            var passwordval = passwordobj.value;

            if (passwordval == "") {
                spnpasswordobj.innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>此欄位必填";
                submitbtn.setAttribute('disabled', 'disabled');

                return;
            }
            else {
                spnpasswordobj.innerHTML = "";
                submitbtn.removeAttribute('disabled');
            }
            if (passwordval.length < 6) {
                spnpasswordobj.innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>請輸入超過6個字";
                submitbtn.setAttribute('disabled', 'disabled');

                return;
            }
            else {
                spnpasswordobj.innerHTML = "";
                submitbtn.removeAttribute('disabled');
            }
            if (passwordval.length >= 6) {

                re = new RegExp(/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/)

                if (re.test(passwordval)) {
                    submitbtn.removeAttribute('disabled');
                    spnpasswordobj.innerHTML = "";
                }
                else {
                    spnpasswordobj.innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>請輸入正確格式";
                    submitbtn.setAttribute('disabled', 'disabled');
                    return;
                }


            }
        };
        document.getElementById("Password2").addEventListener("blur", checkPassword2);
        function checkPassword2() {
            var pass1 = document.getElementById("Password");
            var pass2 = document.getElementById("Password2");
            var spnpassword2 = document.getElementById("password2correct");
            if (pass1.value != pass2.value) {
                spnpassword2.innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>請確認上下密碼一致";
                submitbtn.setAttribute('disabled', 'disabled');

            }
            else {
                submitbtn.removeAttribute('disabled');
                spnpassword2.innerHTML = "";
            }
        };


        const passwordicon = document.querySelector("#togglePassword");
        const password = document.querySelector("#Password");

        passwordicon.addEventListener("click", () => {

            const type = password.getAttribute('type') ==='password'?'text':'password';
            password.setAttribute('type', type);

            passwordicon.classList.toggle('fa-eye-slash');
        });

            const passwordicon2 = document.querySelector("#togglePassword2");
            const password2 = document.querySelector("#Password2");

        passwordicon2.addEventListener("click", () => {

           const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
           password2.setAttribute('type', type);

           passwordicon2.classList.toggle('fa-eye-slash');
        });











       




        







    </script>
}
