@model prjMSIT145_Final.ViewModels.CResetPwdViewModel

@{
    ViewData["Title"] = "forgetalterpassword";
}
@section Styles{
    <link rel="stylesheet" href="~/css/Customer_css/forgetalterpassword.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/Customer_css/CBSonlyClass.css" />

     }


      <!-- Modal -->
    @*<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="font-size:30px;"class="modal-title" id="exampleModalLabel">重製密碼</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div style="font-size:24px;font-weight:bold" class=" modal-body">
                    確任密碼?
                </div>
                <div class="modal-footer">
                    <button id="btncancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button id="btncorrect" type="button" class="btn btn-primary">重製</button>
                </div>
            </div>
        </div>
    </div>*@
<form asp-action="forgetalterpassword" id="forgetalterpasswordid" name="forgetalterpasswordform">
    <div class="wrap">
        <div class="cardcontent">
            <input type="hidden" name="txtAccount" value="@Model.txtAccount" />
            <input type="hidden" name="token" value="@Model.token" />
            <div class="h1div">
                <h1>重製密碼</h1>
            </div>

            <div class="passworddiv">
                <span class="passspantitle">密碼</span>
                <div>
                    <input id="Password" type="password" class="input" name="txtPassword" value="" />
                </div>
                <i style="margin-top:5px;margin-left:-25px;" class="far fa-eye" id="togglePassword"></i>
                <div class="spanerror">
                    <span id="passwordcorrect" class="spanerrormessage"></span>
                </div>
            </div>

              <div class="passworddiv">
                <span class="passspantitle2">確認密碼</span>
                <div>
                    <input id="Password2" type="password" class="input" name="txtConfirmPwd" value="" />
                </div>
                <i style="margin-top:5px;margin-left:-25px;" class="far fa-eye" id="togglePassword2"></i>
                <div>
                    <span id="password2correct" class="spanerrormessage"></span>
                </div>
            </div>
            <input id="submitbtn" type="submit" class="submitbtn" value="確認"  data-bs-toggle="modal" data-bs-target="#exampleModal" />
        </div>

                <input type="button" class="democorrect" id="democorrectid" value="democorrect" />
                <input type="button" class="demoerror" id="demoerrorid" value="demoerror" />
    </div>
     </form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
       
    <script>
        //var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
        //    keyboard: false
        //})
        


        document.getElementById("Password").addEventListener("blur", checkPassword);
        function checkPassword() {
            var passwordobj = document.getElementById("Password");
            var pass2 = document.getElementById("Password2");
            var spnpasswordobj = document.getElementById("passwordcorrect");
            var passwordval = passwordobj.value;

            if (passwordval == "") {
                spnpasswordobj.innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>此欄位必填";
                submitbtn.setAttribute('disabled', 'disabled');

                return;
            }
            else {
                spnpasswordobj.innerHTML = "";
                submitbtn.removeAttribute('disabled');
            }
            if (passwordval.length < 6) {
                spnpasswordobj.innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>請輸入超過6個字";
                submitbtn.setAttribute('disabled', 'disabled');

                return;
            }
            else {
                spnpasswordobj.innerHTML = "";
                submitbtn.removeAttribute('disabled');
            }
            if (passwordval.length >= 6) {

               
                re = new RegExp(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$/);
                if (re.test(passwordval)) {
                    submitbtn.removeAttribute('disabled');
                    spnpasswordobj.innerHTML = "";
                }
                else {
                    spnpasswordobj.innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>請輸入正確格式";
                    submitbtn.setAttribute('disabled', 'disabled');
                    return;
                }


            }
            if (passwordobj.value != pass2.value){
                spnpasswordobj.innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>請確認上下密碼一致";
                submitbtn.setAttribute('disabled', 'disabled');
                return;

            }
            else {
                spnpasswordobj.innerHTML = "";
                submitbtn.removeAttribute('disabled');
            }
        };

        document.getElementById("Password2").addEventListener("blur", checkPassword2);
        function checkPassword2(){
            var pass1 = document.getElementById("Password");
            var pass2 = document.getElementById("Password2");
            var spnpassword2 = document.getElementById("password2correct");
            if (pass1.value != pass2.value) {
                spnpassword2.innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>請確認上下密碼一致";
                submitbtn.setAttribute('disabled', 'disabled');

            }
            else {
                submitbtn.removeAttribute('disabled');
                spnpassword2.innerHTML = "";
            }
        };

        const passwordicon = document.querySelector("#togglePassword");                   //密碼顯示轉換
        const password = document.querySelector("#Password");

        passwordicon.addEventListener("click", function () {

            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);

            this.classList.toggle('fa-eye-slash');
        });

        const passwordicon2 = document.querySelector("#togglePassword2");
        const password2 = document.querySelector("#Password2");

        passwordicon2.addEventListener("click", () => {                                  //密碼顯示轉換

            const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
            password2.setAttribute('type', type);

            passwordicon2.classList.toggle('fa-solid fa-eye-slash');
        });



         document.getElementById("democorrectid").addEventListener('click', () => {                             //正確DEMO鍵
           
            document.getElementById("Password").value = "aA123456"
            document.getElementById("Password2").value = "aA123456";
            checkPassword();
            checkPassword2();
        });

        document.getElementById("demoerrorid").addEventListener('click', () => {                                 //錯誤
            document.getElementById("Password").value = "";
            document.getElementById("Password2").value = "A1234";
            checkPassword();
            checkPassword2();

        });

         document.getElementById("submitbtn").addEventListener("click",()=>{
           
                alert("重置完成");
         });




















    </script>


}
