@model prjMSIT145_Final.Models.NormalMember

@{
    ViewData["Title"] = "linegooleregister";
}
@section Styles{

    <link rel="stylesheet" href="~/css/Customer_css/Register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/Customer_css/CBSonlyClass.css" />

}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="font-size:30px;" class="modal-title" id="exampleModalLabel">整合帳號</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div style="font-size:24px;font-weight:bold" class=" modal-body">
                    讓帳號一致姓,確定整合嗎?
                </div>
                <div class="modal-footer">
                    <button id="btncancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button id="btncorrect" type="button" class="btn btn-primary"><整合</button>
                </div>
            </div>
        </div>
    </div>





    <form asp-action="linegooleregister" id="linegooleregisterid" name="linegooleregisterform">
    <div class="wrap">
        <div class="card3">
            <div class="card30">
            <h2 class="title2"> <img src="@Url.Content("~/images/Customer/Member/registerperson.png")" />註冊會員</h2>
                    <input type="hidden" name="LineUserid" id="LineUserid" value="@Model.LineUserid" />
                    @*<input type="hidden" name="Fid" value="@Model.Fid" />*@
            <div class="dashed">
            </div>
   
        <span class="text3">
            <p class="color">*</p>
            <p class="text4">真實姓名<span class="necessspan">(必填)</span></p>
        </span>
        <div class="divhint">
            <div class="div1">

                            <input id="MemberName" type="text" class="input" value="@Model.MemberName" name="MemberName" />
            </div>
            <span id="namecorrect" class="spanerrormessage"></span>
        </div>


        <span class="text3">
            <p class="color">*</p>
            <p class="text4">手機號碼<span class="necessspan">(必填)</span><span class="Formatspan">(台灣手機號碼)</span></p>
        </span>
    
        <div class="divhint">
            <div class="div1">
                <input type="text" class="input" name="Phone" value="@Model.Phone" id="Phone" />
            </div>
            <span id="phonecorrect" class="spanerrormessage"></span>
        </div>
   
        <span class="text3">
            <p class="color">*</p>
            <p class="text4">電子信箱<span class="necessspan">(必填)</span><span class="Formatspan">(信箱格式)</span></p>
        </span>
        <div class="divhint">
            <div class="div1">
                <input type="email" class="input" name="Email" value="@Model.Email" id="Email" />
            </div>
            <span id="emailcorrect" class="spanerrormessage"></span>
        </div>
        <input type="hidden" name="GoogleEmail" id="emailgoogleemail" value="@Model.GoogleEmail" />

            <div class="display">
                <input id="submitid" type="submit" class="enter" value="註冊"/>

            </div>
                <input type="button" class="democorrect" id="democorrectid" value="democorrect" />
                <input type="button" class="demoerror" id="demoerrorid" value="demoerror" />
                </div>
            </div>

            </div>
    </form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        var submitbtn = document.getElementById("submitid");   //按鈕

        //document.getElementById("MemberName").addEventListener("change", checkPwd);   //名子

        //function checkPwd() {
        //    var nameobj = document.getElementById("MemberName");
        //    var spnameobj = document.getElementById("namecorrect");
        //    var nameval = nameobj.value;
        //    if (nameval == "") {
        //        spnameobj.innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>此欄位必填";
        //        submitbtn.setAttribute('disabled', 'disabled');
        //        return;
        //    }
        //    else {

        //        spnameobj.innerHTML = "";
        //        submitbtn.removeAttribute('disabled');
        //        return;
        //    }

        //};


       /* document.getElementById("Phone").addEventListener("change", checkPhone);     */            //電話

        //function checkPhone() {
        //    var phoneobj = document.getElementById("Phone");
        //    var spnphoneobj = document.getElementById("phonecorrect");
        //    var phoneval = phoneobj.value;
        //    re = new RegExp(/^09[0-9]{8}$/);

        //    if (phoneval == "") {
        //        spnphoneobj.innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>此欄位必填";
        //        submitbtn.setAttribute('disabled', 'disabled');
        //        return;
        //    }
        //    else {
        //        if (re.test(phoneval)) {
        //            spnphoneobj.innerHTML = "";
        //            submitbtn.removeAttribute('disabled');
        //            return;
        //        }
        //        else {

        //            spnphoneobj.innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>格式錯誤";
        //            submitbtn.setAttribute('disabled', 'disabled');
        //        }



        //    }



        //};
        //document.getElementById("Email").addEventListener("change", checkEmail);

        //function checkEmail() {
        //    var emailobj = document.getElementById("Email");
        //    var spnemailobj = document.getElementById("emailcorrect");
        //    var emailval = emailobj.value;

        //    if (emailval == "") {
        //        spnemailobj.innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>此欄位必填";
        //        submitbtn.setAttribute('disabled', 'disabled');

        //        return;
        //    }
        //    else {
        //        spnemailobj.innerHTML = "";
        //        submitbtn.removeAttribute('disabled');
        //    }
        //};


        document.getElementById("submitid").addEventListener("click", async () => {                //判斷帳號是否重複
            event.preventDefault();

            let formData = new FormData(document.linegooleregisterform)
            const request = await fetch(`@Url.Content("~/CustomerMember/Verifyaccount")`, {
                body: formData,
                method: "Post",

            })

            const data = await request.json();
            if (data =="已發送驗證信") {
                alert("已發送驗證信");
                document.getElementById("phonecorrect").innerHTML = "";
                document.getElementById('linegooleregisterid').submit();
            }
            else if (data == "姓名欄位不能空值") {
                document.getElementById("namecorrect").innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>此欄位必填";
            }
            else if (data == "Email欄位不能空值") {
                document.getElementById("emailcorrect").innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>此欄位必填";
            }
            else if (data == "Email格式錯誤") {
                document.getElementById("emailcorrect").innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/> Email格式錯誤";
            }

            else if (data == "電話欄位不能空值") {

                document.getElementById("phonecorrect").innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>此欄位必填";
            }
            else {
                document.getElementById("phonecorrect").innerHTML = "<img src='@Url.Content("~/images/Customer/Member/error.png")'/>電話重複<input id='submitbtn' type='button' class='enter' value='修改' data-bs-toggle='modal' data-bs-target='#exampleModal' />";
                
                return;


            }
        });
        document.getElementById("btncorrect").addEventListener("click", () => {
            alert("前往整合");

          var phonevalue =document.getElementById('Phone').value;
          
          var googleemail = document.getElementById('emailgoogleemail').value;
          console.log(googleemail);
          var userid = document.getElementById('LineUserid').value;
          console.log(userid);
          var phone =phonevalue;

          if(googleemail==""){
              googleemail="1";
          }
          if(userid==""){
              userid="1";
          }

            location.href = `@Url.Content("~/CustomerMember/combineaccount")?Phone=${phone}&LineUserid=${userid}&GoogleEmail=${googleemail}`;
           
        });

        document.getElementById("btncancel").addEventListener("click", () => {
            myModal.hide();
        });










    </script>



}
