@model prjMSIT145_Final.ViewModel.CProductOptionViewModel
@{
	Layout = "_BusinessLayout";
	ViewData["Title"] = "BCreate";
}
@section Styles{
	<link rel="stylesheet" href="../css/ProductCreate.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
}

<div class="outerlayer ">
	<div style="margin:0 0 20px 50px">
		<button id="demo1" class="btn btn-outline-secondary">Demo_L</button>
		<button id="demo2" class="btn btn-outline-secondary">Demo_M</button>
		<button id="demo3" class="btn btn-outline-secondary">Demo單點炸雞塊</button>
		<button id="demo4" class="btn btn-outline-secondary">Demo單點薯條</button>
		<button id="demo5" class="btn btn-outline-secondary">Demo冰塊</button>
		<button id="demo6" class="btn btn-outline-secondary">Demo冰塊</button>
	</div>
	<form method="post" enctype="multipart/form-data">
		<input type="hidden" name="BFid" value="@Model.BFid" />

		<div class="topdiv">
			<a href="@Url.Content("~/AddMaterial/BList")"><img class="back" src="../images/Business/backarrow.png" value=""></a>
			<input id="txtOptionName" name="OptionName" class="inputtext" type="text" placeholder=" 輸入配料名稱....." />   @*配料名稱*@
			<span id="checkName" style="font-size:16px; width:150px;"></span>
			<input id="btnSubmit" class="butt" type="submit" value="儲存" />
		</div>

		@*選擇類別*@
		<select id="selType" class="select" name="OptionGroupName"><option>請選擇配料類別</option></select>
		<span id="checkType" style="margin-left:10px; font-size:17px;"></span>

		@*配料價格*@
		<hr style="border:1px dashed #000; height:1px">
		<h6 id="h6">價格</h6>
		<label for="UnitPrice">預設價格</label>
		<input type="text" value="0" id="txtPrice" name="UnitPrice" class="text" />
		<span id="checkPrice" style="margin-left:10px; font-size:17px;"></span>

	</form>
</div>

@section Scripts{
	<script>
		const selType = document.querySelector("#selType"); //選擇的類別
		const btnSubmit = document.querySelector("#btnSubmit"); //點擊儲存按鈕
		const txtOptionName = document.querySelector("#txtOptionName"); //配料名稱
		const txtPrice = document.querySelector("#txtPrice"); //配料價格
		const checkType = document.querySelector("#checkType"); //檢查有無選擇類別
		const checkPrice = document.querySelector("#checkPrice");  //檢查價格是否為數字
		const checkName = document.querySelector("#checkName"); //檢查有無輸入名稱

		const demo1 = document.querySelector("#demo1");
		const demo2 = document.querySelector("#demo2");
		const demo3 = document.querySelector("#demo3");
		const demo4 = document.querySelector("#demo4");
		const demo5 = document.querySelector("#demo5");
		const demo6 = document.querySelector("#demo6");

		demo1.addEventListener("click", function () {
			txtOptionName.value = "L";
			txtPrice.value = "20";
			checkName.innerHTML = "";
			selType.innerHTML = `<option>份量</option>`;
		})

		demo2.addEventListener("click", function () {
			txtOptionName.value = "M";
			txtPrice.value = "0";
			selType.innerHTML = `<option>份量</option>`;
			checkName.innerHTML = "";
		})

		demo3.addEventListener("click", function () {
			txtOptionName.value = "炸雞塊";
			txtPrice.value = "70";
			selType.innerHTML = `<option>單點</option>`;
			checkName.innerHTML = "";
		})

		demo4.addEventListener("click", function () {
			txtOptionName.value = "薯條";
			txtPrice.value = "30";
			selType.innerHTML = `<option>單點</option>`;
			checkName.innerHTML = "";
		})

		demo5.addEventListener("click", function () {
			txtOptionName.value = "少冰";
			txtPrice.value = "0";
			selType.innerHTML = `<option>冰塊</option>`;
			checkName.innerHTML = "";
		})

		demo6.addEventListener("click", function () {
			txtOptionName.value = "正常冰";
			txtPrice.value = "0";
			selType.innerHTML = `<option>冰塊</option>`;
			checkName.innerHTML = "";
		})
		//載入所有配料類別
		window.addEventListener("load", async function () {
			const response = await fetch(`@Url.Content("~/Type/BOptionGroup")`);
			const data = await response.json();
			let result = document.createDocumentFragment();
			data.forEach(function (item, index) {
				result += `<option>${item.optionGroupName}</option>`;
			})
			selType.innerHTML += result;
		})

		btnSubmit.addEventListener("click", function () {
			if (selType.value == "請選擇配料類別") {
				event.preventDefault();
				checkType.innerHTML = `<img src="@Url.Content("~/images/Business/warning.png")" style="width:30px;"/>請選擇產品類別`;
			}
			else
				checkType.innerHTML = "";

			if (!(txtPrice.value >= 0 || txtPrice.value <= 10000)) {
				event.preventDefault();
				checkPrice.innerHTML = `<img src="@Url.Content("~/images/Business/warning.png")" style="width:30px;"/>請輸入數字`;
			}
			else
				checkPrice.innerHTML = "";

			if (txtOptionName.value == "") {
				event.preventDefault();
				checkName.innerHTML = `<img src="@Url.Content("~/images/Business/warning.png")" style="width:20px;" />請輸入名稱`;
			}
			else
				checkName.innerHTML = "";

		})
		selType.addEventListener("change", function () {
			if (selType.value == "請選擇配料類別")
				checkType.innerHTML = `<img src="@Url.Content("~/images/Business/warning.png")" style="width:30px;"/>請選擇產品類別`;
			else
				checkType.innerHTML = "";
		})
		txtPrice.addEventListener("blur", function () {
			if (!(txtPrice.value >= 0 || txtPrice.value <= 10000))
				checkPrice.innerHTML = `<img src="@Url.Content("~/images/Business/warning.png")" style="width:30px;"/>請輸入數字`;
			else
				checkPrice.innerHTML = "";
		})
		txtOptionName.addEventListener("blur", function () {
			if (txtOptionName.value == "")
				checkName.innerHTML = `<img src="@Url.Content("~/images/Business/warning.png")" style="width:20px;" />請輸入名稱`;
			else
				checkName.innerHTML = "";
		})
	</script>
	}

