
@{
    ViewData["Title"] = "BList";
}
@section Styles{
	<script src="../js/ProductList.js"> </script>
	<link rel="stylesheet" href="../css/ProductList.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
}
<div>
	<div class="top">
		<div>
			<h2 id="h2">配料</h2>
		</div>
		<div class="topbutton">
			<a href="@Url.Content("~/Product/BCreate")"><input class="insertbutton" type="button" value="+新增配料" id="btnCreateProduct" /></a>
			<input style="width:150px;" class="insertbutton" type="button" value="新增/編輯類別" id="btnCreateType" />
		</div>
	</div>
	<input class="inserselecttext" type="text" placeholder="搜尋...." id="txtKeyword" />
	<!-- <select ><option></option></select>
	 -->
	<table id="table" class="table table-hover stripe">
		<thead>
		@*<th>相片</th>*@
		<th>配料名稱</th>
		<th>配料價格</th>
		<th>配料類別</th>
		@*<th>類別備註</th>*@
		<th>選項</th>
		</thead>
		<tbody id="tbody">
			@*<tr>
			<td><input type="image" src="../images/uparrow.png"></td>
			<td>花枝排</td>
			<td>70.00</td>
			<td>小菜類</td>
			<td>-</td>
			<td>
			<button class="buteditgar"><img src="../images/garbage.png"></button>
			<button class="buteditgar"><img src="../images/edit.png"></button>
			</td>
			</tr>
			*@
		</tbody>
	</table>
</div>

@section Scripts{
	<script>
		const tbody = document.querySelector("#tbody");
		const txt = document.querySelector("#txtKeyword");  //關鍵字
		const btnCreateProduct = document.querySelector("#btnCreateProduct"); //新增配料
		const btnCreateType = document.querySelector("#btnCreateType"); //新增類別

		//關鍵字查詢(類別與商品)
		txt.addEventListener("keyup", () => list());

		list();
		async function list() {
			const response = await fetch(`@Url.Content("~/AddMaterial/BSearch?keyword=${txt.value}")`);
			const data = await response.json();
			//console.log(data)
			let result = document.createDocumentFragment();
			result = "";
			data.forEach(function(item,index){
				console.log(data[index].optionGroupFid)
				console.log(data[index-1])
				//if(index === 0)
				//result += `
				//<tr>
				//	<input type='hidden'  id='${item.optionGroupFid}' name='${item.optionGroupFid}' value='${item.optionGroupFid}'/>
				//	<td style='text-align:center;' colspan='2' id='${item.optionGroupName}' name="OptionGroupName">${item.optionGroupName}</td>
				//	<td id='${item.memo}' name='${item.memo}'>${item.memo}</td>
				//	<td>
				//		<a href='@Url.Content("~/Product/BEdit/${item.fid}")'><button class="buteditgar" name='btnEdit'><img src="../images/garbage.png">編輯</button></a>
				//		<button class="buteditgar" name='btnDelete' data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="../images/edit.png">刪除</button>
				//	</td>
				//</tr>`
				//else if(data[index].optionGroupFid === data[index-1].optionGroupFid)
				//		result+=`
				//		<tr>
				//			<input type="hidden" name="${item.fid}" value="${item.fid}" id="${item.fid}"/>
				//			<input type="hidden" name="${item.bFid}" value="${item.bFid}"/>
				//			<input type="hidden" name="${item.fid}" value="${item.fid}"/>
							
				//			<td colspan='2'>${item.optionName}</td>
				//			<td>$${item.unitPrice}</td>
				//			<td>
				//				<a href='@Url.Content("~/Product/BEdit/${item.fid}")'><button class="buteditgar" name='btnEdit'><img src="../images/garbage.png">編輯</button></a>
				//				<button class="buteditgar" name='btnDelete' data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="../images/edit.png">刪除</button>
				//			</td>
				//		</tr>`

				//	else
							result +=`
				            <tr>
							<input type="hidden" name="${item.fid}" value="${item.fid}" id="${item.fid}"/>
							<input type="hidden" name="${item.bFid}" value="${item.bFid}"/>
							<input type='hidden'  id='${item.optionGroupFid}' name='${item.optionGroupFid}' value='${item.optionGroupFid}'/>

							<td >${item.optionName}</td>
							<td>$${item.unitPrice}</td>
							<td id='${item.optionGroupName}' name="OptionGroupName">${item.optionGroupName}</td>

							<td>
								<a href='@Url.Content("~/Product/BEdit/${item.fid}")'><button class="buteditgar" name='btnEdit'><img src="../images/garbage.png">編輯</button></a>
								<button class="buteditgar" name='btnDelete' data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="../images/edit.png">刪除</button>
							</td>
							</tr>`
			})
			tbody.innerHTML = result;
		}
		//新增配料
		btnCreateProduct.addEventListener("click",async function(){
			const request = await fetch("@Url.Content("~/AddMaterial/BCreate")");

		})
	</script>
}
