@model List<prjMSIT145_Final.ViewModels.VCUtilityViewModel>
@{
    Layout = "_CustomerLayout";
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <link href="~/css/Customer_css/CMainpagestyle.css" rel="stylesheet" />
    <link href="~/css/Customer_css/CShopcardstyle.css" rel="stylesheet" />
    <style>

    </style>
}
<section class="Displayarea">
    <div class="ADblock">
        <img src="~/images/Customer/Mainpage/shibaLogo_row2.png" />
        @*廣告輪播*@
        <div class="wrapper">
            <ul class="slides">
                @*<li><img class="hidden" src="@Url.Content("~/adminImg/adDisplay/001.jpg")" /></li>*@
            </ul>
        </div>
    </div>
    <div class="Bone Boneposition1">
        <div class="Quickbutton">
            <img src="~/images/Customer/Mainpage/nearby 64x64.png" />
        </div>
        <p>找附近</p>
    </div>
    <div class="Bone Boneposition2">
        <div class="Quickbutton">
            <img src="~/images/Customer/Mainpage/findarea 64x64.png" />
        </div>
        <p>找區域</p>
    </div>
    <div class="Bone Boneposition3">
        <div class="Quickbutton">
            <img src="~/images/Customer/Mainpage/shop 64x64.png" />
        </div>
        <p>找品牌</p>
    </div>
    <div class="Bone Boneposition4">
        <div class="Quickbutton">
            <img src="~/images/Customer/Mainpage/coupon 64x64.png" />
        </div>
        <p>我的券夾</p>
    </div>
</section>
<section class="ImgDisplay">
    @{
        int Count = 0;
        string png = "";
        foreach (var item in Model[0].AdImgList)
        {
            Count++;
            png = @$"https://localhost:7266/adminImg/adDisplay/{item.ImgName}";
            if (Count == 1)
            {
                <div class="LeftAD" style="background-image:url('@png')"></div>
            }
            else if(Count == 2)
            {
                <div class="MidAD" style="background-image:url('@png');"></div>
            }
            else if(Count == 3)
            {
                <div class="RightAD" style="background-image:url('@png');"></div>
            }
        }
    }
</section>
<section class="Showshoptilte">
    <p>專屬推薦店家</p>
    <div>
        <h2>查看更多&ensp;</h2>
        <img src="~/images/Customer/Mainpage/circlearrow_right 32x32.png" />
    </div>
</section>
<section class="Showshopdisplay">
    @{
        foreach (var item in Model[0].BusinessMemberList)
        {
            if (item.IsSuspensed == 0)
            {
                if (item.IsOpened > 0)
                {
                    @if (item.IsOpened == 1)
                    {
                        <div class="Shopcard CursorPointer" id="Shop @item.Fid">
                            <img class="Shopcardcover" src="~/images/Customer/Shopcard/Test/shopcover.png" />
                            <img class="Shopcardloggo" src="~/images/Customer/Shopcard/Test/circlelogo.png" />
                            <div class="Shopcardbottem">
                                <h3>&ensp;@item.MemberName</h3>
                                <ul>
                                    <li>&ensp;@item.OpenTime&ensp;～&ensp;@item.CloseTime&ensp;</li>
                                    <li>&ensp;0.3 km&ensp;</li>
                                    <li>&ensp;★ 4.6&ensp;</li>
                                </ul>
                                <h4>&ensp;@item.Address</h4>
                            </div>
                        </div>
                    }
                    @if (item.IsOpened == 2)
                    {
                        <div class="Shopcard CursorDefault" id="Shop @item.Fid">
                            <img class="Shopcardcover" src="~/images/Customer/Shopcard/Test/shopcover.png" />
                            <img class="Shopcardloggo" src="~/images/Customer/Shopcard/Test/circlelogo.png" />
                            <div class="ShopisClose">暫停接單</div>
                            <div class="Shopcardbottem">
                                <h3>&ensp;@item.MemberName</h3>
                                <ul>
                                    <li>&ensp;@item.OpenTime&ensp;～&ensp;@item.CloseTime&ensp;</li>
                                    <li>&ensp;0.3 km&ensp;</li>
                                    <li>&ensp;★ 4.6&ensp;</li>
                                </ul>
                                <h4>&ensp;@item.Address</h4>
                            </div>
                        </div>
                    }
                }
            }
        }
    }
</section>
@section Scripts{
    <script>

        @foreach (var item in Model[0].BusinessMemberList)
        {
            if (item.IsSuspensed == 0)
            {
                @if (item.IsOpened == 1)
                {
                    @:document.getElementById("Shop @(item.Fid)").addEventListener("click", function () {
                    @:location.href="/Home/CShowProduct?BFid=@(item.Fid)";
                    @:});
                }
            }
        }
            $(function () {
                let slideNum = 0;
                let slideCount = $(".slides li").length;
                let lastIndex = slideCount - 1;

                let adArr = new Array();
                adArr.push('001.jpg');
                //$('ul.slides').append('<li><img src /></li>');
                $.ajax({
                    url: `@Url.Content("~/home/CgetAdImgList")`,
                    type: 'post',
                    data: {},
                    dataType: 'json',
                    success: function (data) {

                        let docFrag = document.createDocumentFragment();
                        $(data).each(function (i, value) {
                            //adArr.push(value.imgName);
                            $(docFrag).append(`<li><img src='@Url.Content("~/adminImg/adDisplay/")${value.imgName}' /></li>`);
                        });
                        $('ul.slides').append(docFrag);
                        //console.log(adArr);
                    }
                });


                slideNum = 0;
                let si = setInterval(() => {
                    let i = $('ul.slides>li').length + 1;
                    //console.log(i);
                    //let i = adArr.length;
                    if (i > 0) {
                        i = i - 1;
                        //    //slideNum = ((new Date()).getSeconds()) % i;
                        if (slideNum > i) {
                            slideNum = 0;
                        }
                        //        console.log(`slideNum=${slideNum}, adArr[slideNum]=${adArr[slideNum]}`);
                        //        $('ul.slides>li>img').fadeOut(200, function () {
                        //            $(this).attr('src', `@Url.Content("~/adminImg/adDisplay/")${adArr[slideNum]}`);
                        //        }).fadeIn(200);

                        //        //$('ul.slides>li>img').attr('src', `@Url.Content("~/adminImg/adDisplay/")${adArr[slideNum]}`);
                        //        $('ul.slides>li>img').removeClass('hidden');
                        //        if (adArr[slideNum]=='001.jpg'){
                        //            $('ul.slides>li>img').addClass('hidden');
                        //        }

                        let slidemove = -540 * slideNum;
                        if (slideNum == 0) {
                            $('ul.slides').addClass('hidden');
                        }
                        else {
                            $('ul.slides').removeClass('hidden');
                        }
                        $('ul.slides').css('left', slidemove);
                        slideNum++;
                    }

                }, 2000);

            });
    </script>
}