@model List<prjMSIT145_Final.ViewModels.VCUtilityViewModel>
@{
    Layout = "_CustomerLayout";
    ViewData["Title"] = "CShowProduct";
}
@section Styles{
    <link href="~/css/Customer_css/CBSonlyClass.css" rel="stylesheet" />
    <link href="~/css/Customer_css/CShowProduct.css" rel="stylesheet" />
}
<section class="shopinfocard">
    <div class="shopinfoarea">
        <div class="shopinfo">
            <img class="Shoplogo" src="~/images/@Model[0].BusinessMemberDetailList[0].LogoImgFileName" />
            <div>
                <div class="shoptitle">@Model[0].BusinessMemberDetailList[0].MemberName</div>
                <div class="infoblock">
                    <div class="InfoArea">店家資訊</div>
                    <div class="InfoArea"><img src="~/images/Customer/ShowProduct/opentime 20x20.png" /><p>@Model[0].BusinessMemberDetailList[0].OpenTime ~ @Model[0].BusinessMemberDetailList[0].CloseTime</p></div>
                    <div class="InfoArea"><img src="~/images/Customer/ShowProduct/phone 20x20.png" /><p>@Model[0].BusinessMemberDetailList[0].Phone</p></div>
                    <div class="InfoArea"><img src="~/images/Customer/ShowProduct/address 20x20.png" /><p>@Model[0].BusinessMemberDetailList[0].Address</p></div>
                    <div class="InfoArea"><img src="~/images/Customer/ShowProduct/paymentterm 20x20.png" /><p>@Model[0].PaymenttermList[0].PaymentType</p></div>
                </div>
            </div>
        </div>
        <div class="btnbar">
            <div class="iconwrap">
                <div class="icon">
                    <img src="~/images/Customer/ShowProduct/discount 24x24.png" />
                </div>
                <div class="btntext">問店家</div>
            </div>
            <div class="iconwrap">
                <div class="icon">
                    <img src="~/images/Customer/ShowProduct/search 24x24.png" />
                </div>
                <div class="btntext">找商品</div>
            </div>
        </div>
    </div>
    <section class="ADarea">
        <img class="Shopcardcover" src="~/images/@Model[0].BusinessMemberDetailList[0].SighImgFileName" />
    </section>
</section>

<section class="ShowClassdisplay">
    <div class="ShowClassregion">
        @{
            foreach (var item1 in Model[0].ProductClassList)
            {
                if (item1.ProductsList.Count != 0)
                {
                    if (item1.PlayregionID == 1)
                    {
                        <div class="productclass">
                            <h1 class="classtitle">@item1.CategoryName</h1>
                            @foreach (var item2 in item1.ProductsList)
                            {
                                @if (item2.IsForSale != 0)
                                {
                                    @if (item2.IsForSale == 1)
                                    {
                                        <div class="productitem CursorPointer" id="Prod @item2.Fid" data-bs-toggle="modal" data-bs-target="#OptionModal">
                                            <div class="PhotoandName">
                                                <img src="~/images/@item2.Photo">
                                                <p>@item2.ProductName</p>
                                                @if (@item2.OrdetAmount > 0)
                                                {
                                                    <div class="AmountBall">@item2.OrdetAmount</div>
                                                }
                                            </div>
                                            <p class="producttext">$ @Convert.ToInt32(item2.UnitPrice)</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="productitem CursorDefault">
                                            <div class="PhotoandName">
                                                <img src="~/images/@item2.Photo">
                                                <p>@item2.ProductName</p>
                                                @if (@item2.OrdetAmount > 0)
                                                {
                                                    <div class="AmountBall">@item2.OrdetAmount</div>
                                                }
                                            </div>
                                            <p class="productNotsale">停售</p>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    }
                }
            }
        }
    </div>
    <div class="ShowClassregion">
        @{
            foreach (var item1 in Model[0].ProductClassList)
            {
                if (item1.ProductsList.Count != 0)
                {
                    if (item1.PlayregionID == 2)
                    {
                        <div class="productclass">
                            <h1 class="classtitle">@item1.CategoryName</h1>
                            @foreach (var item2 in item1.ProductsList)
                            {
                                @if (item2.IsForSale != 0)
                                {
                                    @if (item2.IsForSale == 1)
                                    {
                                        <div class="productitem CursorPointer" id="Prod @item2.Fid" data-bs-toggle="modal" data-bs-target="#OptionModal">
                                            <div class="PhotoandName">
                                                <img src="~/images/@item2.Photo">
                                                <p>@item2.ProductName</p>
                                                @if (@item2.OrdetAmount > 0)
                                                {
                                                    <div class="AmountBall">@item2.OrdetAmount</div>
                                                }
                                            </div>
                                            <p class="producttext">$ @Convert.ToInt32(item2.UnitPrice)</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="productitem CursorDefault">
                                            <div class="PhotoandName">
                                                <img src="~/images/@item2.Photo">
                                                <p>@item2.ProductName</p>
                                                @if (@item2.OrdetAmount > 0)
                                                {
                                                    <div class="AmountBall">@item2.OrdetAmount</div>
                                                }
                                            </div>
                                            <p class="productNotsale">停售</p>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    }
                }
            }
        }
    </div>
    <div class="ShowClassregion">
        @{
            foreach (var item1 in Model[0].ProductClassList)
            {
                if (item1.ProductsList.Count != 0)
                {
                    if (item1.PlayregionID == 3)
                    {
                        <div class="productclass">
                            <h1 class="classtitle">@item1.CategoryName</h1>
                            @foreach (var item2 in item1.ProductsList)
                            {
                                @if (item2.IsForSale != 0)
                                {
                                    @if (item2.IsForSale == 1)
                                    {
                                        <div class="productitem CursorPointer" id="Prod @item2.Fid" data-bs-toggle="modal" data-bs-target="#OptionModal">
                                            <div class="PhotoandName">
                                                <img src="~/images/@item2.Photo">
                                                <p>@item2.ProductName</p>
                                                @if (@item2.OrdetAmount > 0)
                                                {
                                                    <div class="AmountBall">@item2.OrdetAmount</div>
                                                }
                                            </div>
                                            <p class="producttext">$ @Convert.ToInt32(item2.UnitPrice)</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="productitem CursorDefault">
                                            <div class="PhotoandName">
                                                <img src="~/images/@item2.Photo">
                                                <p>@item2.ProductName</p>
                                                @if (@item2.OrdetAmount > 0)
                                                {
                                                    <div class="AmountBall">@item2.OrdetAmount</div>
                                                }
                                            </div>
                                            <p class="productNotsale">停售</p>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    }
                }
            }
        }
    </div>
</section>

<!-- FormArea -->
<form asp-controller="Home" asp-action="CAddtoCart" method="post" enctype="multipart/form-data">
    <input type="text" name="OFid" id="OFid" value="@Model[0].OrderID" hidden />
    <input type="text" name="BFid" id="BFid" value="@Model[0].BusinessMemberDetailList[0].Fid" hidden />
    <input type="text" name="PFid" id="PFid" value="無變化" hidden />
    <input type="text" name="TotalAmount" id="TotalAmount" value="無變化" hidden />
    <input type="text" name="Qty" id="Qty" value="無變化" hidden />
    <!-- Modal -->
    <div class="modal fade" id="OptionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="ModalTitle" id="ProductTitle">標題</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body" id="OptionDisplayArea"></div>

                <div class="modal-footer">
                    <div class="DisplayColumn">
                        <p class="TotalPrice">總金額：︁<span class="TotalPrice" id="Total"> 60 </span>元</p>
                        <div class="DisplayFlex">
                            <div class="Minusbtn CursorPointer" id="Minus">-</div>
                            <div class="Countarea CursorDefault" id="Count">99</div>
                            <div class="Plusbtn CursorPointer" id="Plus">+</div>
                        </div>
                    </div>
                    <button type="button" class="Submitbtn CursorPointer" id="submit">
                        @if (!Context.Session.Keys.Contains(CDictionary.SK_LOGINED_USER))
                        {
                            @:請登入會員
                        }
                        else
                        {
                            @:必選項未選
                        }
                    </button>
                </div>

            </div>
        </div>
    </div>
</form>

@section UpperScripts{
    <script>

    </script>
}
@section Scripts{
    <script>
        let Membercheck = `@Context.Session.GetString(CDictionary.SK_LOGINED_USER)`;
        let BasePriceRecord = 0;
        let BasePrice = 0;
        let TotalPrice = 0;
        let OrderNumber = 1;
        let ModalBody = document.getElementById('OptionDisplayArea');
        let OptionsAreaList = document.getElementsByClassName('OptionsArea');
        let check = 0;
        let innercheck = 0;

        document.getElementById("submit").addEventListener("click", function () {
            if (Membercheck == "")
            {
                location.href = "/CustomerMember/Login";
            }
        });

        @{
            foreach (var ProductClass in Model[0].ProductClassList)
            {
                @if (ProductClass.ProductsList.Count != 0)
                {
                    @foreach (var Product in ProductClass.ProductsList)
                    {
                        @if (Product.IsForSale == 1)
                        {
                            //-----------------Modal-Header
                            @:document.getElementById("Prod @(Product.Fid)").addEventListener("click", function () {
                            @:check = 0;
                            @:document.getElementById("PFid").value=@(Product.Fid);
                            @:document.getElementById("ProductTitle").innerHTML="@(Product.ProductName)";
                            //-----------------Modal-Body
                            @:getOptiondatas(@(Product.Fid));
                            //-----------------Modal-Footer
                            @:BasePriceRecord ="@(Product.UnitPrice)";
                            @:BasePrice = BasePriceRecord;
                            @:document.getElementById("Total").innerHTML="@(Product.UnitPrice)";
                            @:document.getElementById("TotalAmount").value="@(Product.UnitPrice)";
                            @:document.getElementById("Count").innerHTML= "1";
                            @:document.getElementById("Qty").value = "1";
                            @:});
                        }
                    }
                }
            }
        }

            document.getElementById("Minus").addEventListener("click", function () {
                OrderNumber--;
                if (OrderNumber < 1)
                    OrderNumber = 1;
                document.getElementById("Count").innerHTML = OrderNumber;
                document.getElementById("Qty").value = OrderNumber;
                TotalPrice = BasePrice * OrderNumber;
                document.getElementById("Total").innerHTML = TotalPrice;
                document.getElementById("TotalAmount").value = TotalPrice;
            });

        document.getElementById("Plus").addEventListener("click", function () {
            OrderNumber++;
            if (OrderNumber > 99)
                OrderNumber = 99;
            document.getElementById("Count").innerHTML = OrderNumber;
            document.getElementById("Qty").value = OrderNumber;
            TotalPrice = BasePrice * OrderNumber;
            document.getElementById("Total").innerHTML = TotalPrice;
            document.getElementById("TotalAmount").value = TotalPrice;
        });

        async function getOptiondatas(PFid) {
            const response = await fetch(`@Url.Content("~/Home/CShowProductOption?PFid=${PFid}")`);
            const datas = await response.json();
            ModalBody.innerHTML = `<img id="ProductPhoto" class = "ProductPhoto" src = "/images/${datas[0].productBasicInfoList[0].photo}" />`;
            ModalBody.innerHTML += `<div id="ProductMemo" class = "MemoArea" />${datas[0].productBasicInfoList[0].memo}<div>`;
            for (let i = 0, maxPCL = datas[0].optionGroupList.length; i < maxPCL; i++) {
                if (datas[0].optionGroupList[i].isMultiple == 0) {
                    ModalBody.innerHTML += `<p class="OptionGroupTitle"><span class="NeedChoose">✱</span>${datas[0].optionGroupList[i].optionGroupName}</p >`;
                    ModalBody.innerHTML += `<div class="OptionsArea" id = "S ${datas[0].optionGroupList[i].fid}"></div>`;
                } else {
                    ModalBody.innerHTML += `<p class="OptionGroupTitle">${datas[0].optionGroupList[i].optionGroupName}</p >`;
                    ModalBody.innerHTML += `<div class="OptionsArea" id = "M ${datas[0].optionGroupList[i].fid}"></div>`;
                }
            }
            for (let i = 0, maxPCL = datas[0].optionGroupList.length; i < maxPCL; i++) {
                for (let j = 0, maxPL = datas[0].optionGroupList[i].optionList.length; j < maxPL; j++) {
                    if (datas[0].optionGroupList[i].optionList[j].unitPrice == 0) {
                        OptionsAreaList[i].innerHTML += `<div class="Optiondiv NChoosedOptiondiv CursorPointer" id="${datas[0].optionGroupList[i].optionList[j].fid}"><p>${datas[0].optionGroupList[i].optionList[j].optionName}</p></div>`;
                    } else {
                        if (datas[0].optionGroupList[i].optionList[j].unitPrice < 0) {
                            OptionsAreaList[i].innerHTML += `<div class="Optiondiv NChoosedOptiondiv CursorPointer" id="${datas[0].optionGroupList[i].optionList[j].fid}"><p>${datas[0].optionGroupList[i].optionList[j].optionName}</p><p>${datas[0].optionGroupList[i].optionList[j].unitPrice} 元</p ></div>`;
                        } else {
                            OptionsAreaList[i].innerHTML += `<div class="Optiondiv NChoosedOptiondiv CursorPointer" id="${datas[0].optionGroupList[i].optionList[j].fid}"><p>${datas[0].optionGroupList[i].optionList[j].optionName}</p><p>+${datas[0].optionGroupList[i].optionList[j].unitPrice} 元</p ></div>`;
                        }
                    }
                    OptionsAreaList[i].innerHTML += `<input type = "text" name = "OPT ${datas[0].optionGroupList[i].optionList[j].fid}" id = "OPT ${datas[0].optionGroupList[i].optionList[j].fid}" value = "0" hidden/>`;
                }
            }

            for (let i = 0, max = document.getElementsByClassName("OptionsArea").length; i < max; i++) {
                if (OptionsAreaList[i].getAttribute("id").substring(0, 1) == "S") {
                    check -= 1;
                    for (let j = 0, maxCH = document.getElementsByClassName("OptionsArea")[i].children.length; j < maxCH; j += 2) {
                        OptionsAreaList[i].children[j].addEventListener("click", function () {
                            innercheck = 0;
                            if (OptionsAreaList[i].children[j + 1].value == 0) {
                                innercheck = 1;

                                for (let k = 0, max2 = OptionsAreaList[i].children.length; k < max2; k += 2) {
                                    if (OptionsAreaList[i].children[k + 1].value != "0") {
                                        check -= 1;
                                        OptionsAreaList[i].children[k + 1].value = "0";
                                        OptionsAreaList[i].children[k].setAttribute("class", "Optiondiv NChoosedOptiondiv CursorPointer");
                                        if (OptionsAreaList[i].children[k].children.length > 1) {
                                            if (OptionsAreaList[i].children[k].children[1].innerHTML.split(" ")[0].substring(0, 1) == "-") {
                                                BasePrice -= -parseInt(OptionsAreaList[i].children[k].children[1].innerHTML.split(" ")[0].substring(1), 10);
                                            } else {
                                                BasePrice -= parseInt(OptionsAreaList[i].children[k].children[1].innerHTML.split(" ")[0].substring(1), 10);
                                            }
                                            TotalPrice = BasePrice * OrderNumber;
                                            document.getElementById("Total").innerHTML = TotalPrice;
                                            document.getElementById("TotalAmount").value = TotalPrice;
                                        }
                                    }
                                }

                                OptionsAreaList[i].children[j + 1].value = `${OptionsAreaList[i].children[j].getAttribute("id")}`;
                                OptionsAreaList[i].children[j].setAttribute("class", "Optiondiv CursorPointer");
                                if (OptionsAreaList[i].children[j].children.length > 1) {
                                    if (OptionsAreaList[i].children[j].children[1].innerHTML.split(" ")[0].substring(0, 1) == "-") {
                                        BasePrice -= parseInt(OptionsAreaList[i].children[j].children[1].innerHTML.split(" ")[0].substring(1), 10);
                                    } else {
                                        BasePrice -= -parseInt(OptionsAreaList[i].children[j].children[1].innerHTML.split(" ")[0].substring(1), 10);
                                    }
                                    TotalPrice = BasePrice * OrderNumber;
                                    document.getElementById("Total").innerHTML = TotalPrice;
                                    document.getElementById("TotalAmount").value = TotalPrice;
                                }
                            } else {
                                innercheck = 0;
                                OptionsAreaList[i].children[j + 1].value = "0";
                                OptionsAreaList[i].children[j].setAttribute("class", "Optiondiv NChoosedOptiondiv CursorPointer");
                                if (OptionsAreaList[i].children[j].children.length > 1) {
                                    if (OptionsAreaList[i].children[j].children[1].innerHTML.split(" ")[0].substring(0, 1) == "-") {
                                        BasePrice -= -parseInt(OptionsAreaList[i].children[j].children[1].innerHTML.split(" ")[0].substring(1), 10);
                                    } else {
                                        BasePrice -= parseInt(OptionsAreaList[i].children[j].children[1].innerHTML.split(" ")[0].substring(1), 10);
                                    }
                                    TotalPrice = BasePrice * OrderNumber;
                                    document.getElementById("Total").innerHTML = TotalPrice;
                                    document.getElementById("TotalAmount").value = TotalPrice;
                                }
                            }

                            if (innercheck == 1) {
                                check -= -1;
                            } else {
                                check -= 1;
                            }
                            if (Membercheck == "") {
                                document.getElementById("submit").setAttribute("type", "button");
                                document.getElementById("submit").innerHTML = "請登入會員";
                            }else{
                                if (check == 0)
                                {
                                    document.getElementById("submit").setAttribute("type", "submit");
                                    document.getElementById("submit").innerHTML = "加入購物車";
                                }else{
                                    document.getElementById("submit").setAttribute("type", "button");
                                    document.getElementById("submit").innerHTML = "必選項未選";
                                }
                            }    
                        });
                    }
                } else {
                    for (let j = 0, maxCH = document.getElementsByClassName("OptionsArea")[i].children.length; j < maxCH; j += 2) {
                        OptionsAreaList[i].children[j].addEventListener("click", function () {
                            if (OptionsAreaList[i].children[j + 1].value == 0) {
                                OptionsAreaList[i].children[j + 1].value = `${OptionsAreaList[i].children[j].getAttribute("id")}`;
                                OptionsAreaList[i].children[j].setAttribute("class", "Optiondiv CursorPointer");
                                if (OptionsAreaList[i].children[j].children.length > 1) {
                                    if (OptionsAreaList[i].children[j].children[1].innerHTML.split(" ")[0].substring(0, 1) == "-") {
                                        BasePrice -= parseInt(OptionsAreaList[i].children[j].children[1].innerHTML.split(" ")[0].substring(1), 10);
                                    } else {
                                        BasePrice -= -parseInt(OptionsAreaList[i].children[j].children[1].innerHTML.split(" ")[0].substring(1), 10);
                                    }
                                    TotalPrice = BasePrice * OrderNumber;
                                    document.getElementById("Total").innerHTML = TotalPrice;
                                    document.getElementById("TotalAmount").value = TotalPrice;
                                }
                            } else {
                                OptionsAreaList[i].children[j + 1].value = "0";
                                OptionsAreaList[i].children[j].setAttribute("class", "Optiondiv NChoosedOptiondiv CursorPointer");
                                if (OptionsAreaList[i].children[j].children.length > 1) {
                                    if (OptionsAreaList[i].children[j].children[1].innerHTML.split(" ")[0].substring(0, 1) == "-") {
                                        BasePrice -= -parseInt(OptionsAreaList[i].children[j].children[1].innerHTML.split(" ")[0].substring(1), 10);
                                    } else {
                                        BasePrice -= parseInt(OptionsAreaList[i].children[j].children[1].innerHTML.split(" ")[0].substring(1), 10);
                                    }
                                    TotalPrice = BasePrice * OrderNumber;
                                    document.getElementById("Total").innerHTML = TotalPrice;
                                    document.getElementById("TotalAmount").value = TotalPrice;
                                }
                            }
                        });
                    }
                }
            }
        }


    </script>
}

