@model prjMSIT145_Final.ViewModel.CProductsViewModel
@{
    Layout = "_BusinessLayout";
    ViewData["Title"] = "BCreate";
}
@section Styles{
    <link rel="stylesheet" href="../css/ProductCreate.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
}

<div class="outerlayer ">
    <div style="margin:0 0 20px 200px">
        <button id="demo1" class="btn btn-outline-secondary">Demo飲料</button>
        <button id="demo2" class="btn btn-outline-secondary">Demo飲料</button>
        <button id="demo3" class="btn btn-outline-secondary">Demo炒飯</button>
        <button id="demo4" class="btn btn-outline-secondary">Demo咖哩飯</button>
    </div>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="BFid" value="@Model.BFid" />
        <div class="topdiv">
            <a href="@Url.Content("~/Product/BList")"><img class="back" src="../images/Business/backarrow.png"></a>
            @*產品名稱*@
            <input id="txtProductName" name="ProductName" class="inputtext" type="text" placeholder=" 輸入餐點名稱....." />
            <span id="checkName" style="font-size:16px; width:150px;"></span>

            <input id="btnSubmit" class="butt" type="submit" value="儲存" />
        </div>

        @*產品照片*@
        <h6 id="h6">相片</h6>
        <div class="divimage">
            <div id="imgShow" style="width:30%;">
                <img style="width:90px; height:70px;" class="inputimage" src="../images/Business/photo.png" />
            </div>
            <div style="width:50%;">
                <p>餐點照片可協助顧客訂購那些美食,<br>進而提供銷售量.</p>
                <div class="divinputimagebutton">
                    <label class="inputimagebutton" for="file" style="width:80px; padding: 5px; cursor:pointer;"><input id="file" name="file" type="file" style="display:none;" />上傳檔案</label>
                    <input id="btnImgDelete" class="inputimagebutton" type="button" value="刪除">
                </div>
            </div>
        </div>

        @*選擇類別*@
        <select id="selType" name="CategoryName" class="select"><option>請選擇商品類別</option></select>
        <span id="checkType" style="margin-left:10px; font-size:17px;"></span>

        <hr style="border:1px dashed #000; height:1px">

        @*選擇配料類別*@
        <div style="display:flex">
            <h6 id="h6">選擇配料類別</h6>
            <span id="checkMaterialType" style="margin-left:20px; font-size:17px;"></span>
        </div>
        <input type="hidden" id="materialCheck" />
        <div id="chooseMaterial">
            @*  <label for="" style="font-size:18px;margin-right:10px; height:20px; "><input type="checkbox" value="" name="chooseMaterial" style="font-size:20px" />&ensp;單點</label>*@
        </div>

        @*產品價格*@
        <hr style="border:1px dashed #000; height:1px">
        <h6 id="h6">價格及販售方式</h6>
        <label for="">預設價格</label>
        <input type="text" value="100" id="txtPrice" name="UnitPrice" class="text" />
        <span id="checkPrice" style="margin-left:10px; font-size:17px;"></span>

        @*餐點上架與否*@
        <hr style="border:1px dashed #000; height:1px">
        <h6 id="h6">餐點是否上架</h6>
        <div class="form-check form-switch">
            @*checked為1=>已上架*@
            <input name="IsForSale" class="form-check-input" type="checkbox" role="switch" id="IsForSale" style="width:50px; height:20px;" />
            <label class="form-check-label" for="IsForSale"></label>
        </div>

        @*產品備註*@
        <hr style="border:1px dashed #000; height:1px">
        <h6 id="h6">說明(選項)</h6>
        <textarea placeholder=" 輸入說明.....例如豬肉產地" id="txtMemo" name="Memo" class="textarea">-</textarea>
    </form>
</div>

@section Scripts{
    <script>
        const imgShow = document.querySelector("#imgShow"); //選擇的照片
        const btnFile = document.querySelector("#file"); //新增照片
        const btnImgDelete = document.querySelector("#btnImgDelete"); //刪除照片
        const selType = document.querySelector("#selType"); //選擇的類別
        const IsForSale = document.querySelector("#IsForSale"); //選擇是否上架
        const btnSubmit = document.querySelector("#btnSubmit"); //儲存按鈕
        const txtPrice = document.querySelector("#txtPrice"); //商品價格
        const checkName = document.querySelector("#checkName"); //檢查有無輸入名稱
        const txtProductName = document.querySelector("#txtProductName");
        const chooseMaterial = document.querySelector("#chooseMaterial"); //配料類別

        const demo1 = document.querySelector("#demo1"); //demo飲料
        const demo2 = document.querySelector("#demo2"); //demo飲料
        const demo3 = document.querySelector("#demo3"); //demo食物
        const demo4 = document.querySelector("#demo4"); //demo食物

        //飲料類Demo鍵
        demo1.addEventListener("click", function () {
            document.querySelector("#txtProductName").value = "香草奶昔";
            document.querySelector("#txtPrice").value = "70";
            document.querySelector("#txtMemo").value = "建議一小時內飲用完畢。";
            checkName.innerHTML = "";
        })
        //飲料類Demo鍵
        demo2.addEventListener("click", function () {
            document.querySelector("#txtProductName").value = "酪梨布丁牛奶";
            document.querySelector("#txtPrice").value = "80";
            document.querySelector("#txtMemo").value = "建議一小時內飲用完畢。";
            checkName.innerHTML = "";
        })
        //食物類Demo鍵
        demo3.addEventListener("click", function () {
            document.querySelector("#txtProductName").value = "松露蛋炒飯";
            document.querySelector("#txtPrice").value = "250";
            document.querySelector("#txtMemo").value = "使用白米/糙米";
            checkName.innerHTML = "";
        })
        //食物類Demo鍵
        demo4.addEventListener("click", function () {
            document.querySelector("#txtProductName").value = "咖哩歐姆蛋包飯";
            document.querySelector("#txtPrice").value = "150";
            document.querySelector("#txtMemo").value = "微辣";
            checkName.innerHTML = "";
        })

        //載入所有商品類別
        window.addEventListener("load", async function () {
            const request = await fetch(`@Url.Content("~/Type/BCategoryList")`);
            const data = await request.json();
            let frag = document.createDocumentFragment();
            frag = "";
            data.forEach(function (item, index) {
                if (index === 0)
                    frag += `<option><input type='hidden' id='Fid' value='Fid'>${item.categoryName}</option>`;
                else if (data[index].categoryName !== data[index - 1].categoryName)
                    frag += `<option><input type='hidden' id='Fid' value='Fid'>${item.categoryName}</option>`
            });
            selType.innerHTML += frag;

            //載入配料類別
            const requestMaterial = await fetch(`@Url.Content("~/Type/BOptionGroup")`);
            const material = await requestMaterial.json();
            let materialFrag = document.createDocumentFragment();
            materialFrag = "";

            //console.log(material)
            material.forEach(function (item, index) {
                materialFrag += ` <label for="${item.fid}" style="font-size:18px;margin-right:10px; height:20px; "><input type="checkbox" value="${item.fid}" id="${item.fid}" name="productOp" style="font-size:20px" />&ensp;${item.optionGroupName}</label>`
            })

            chooseMaterial.innerHTML = materialFrag;
        })

        //上傳照片
        btnFile.addEventListener("change", function () {
            let file = this.files[0];
            const reader = new FileReader();

            reader.onload = function (e) {
                //imgShow.setAttribute("src", e.target.result);
                //console.log(e.target.result);
                //imgShow.setAttribute("style","width:130px;height:90px;")
                imgShow.innerHTML = `<img src="${e.target.result}" style="width:150px;height:100px;"/>`
            };
            reader.readAsDataURL(file);
        })

        //移除照片
        btnImgDelete.addEventListener("click", function () {
            //file.outerHTML = file.outerHTML;
            //imgShow.setAttribute("src", "../images/Business/photo.png");
            imgShow.innerHTML = `<img src="../images/Business/photo.png" style="width:90px;height:70px;"/>`
        })
        //商品是否上架
        IsForSale.addEventListener("click", function () {

            if (IsForSale.checked) {
                IsForSale.value = "1";
            }
            else {
                IsForSale.value = "0";
            }
        })
        //送出時驗證各項
        btnSubmit.addEventListener("click", function () {

            if (selType.value === "請選擇商品類別") {
                event.preventDefault();
                document.querySelector("#checkType").innerHTML = `<img src="@Url.Content("~/images/Business/warning.png")" style="width:30px;"/>請選擇產品類別`;
            }
            else
                document.querySelector("#checkType").innerHTML = "";

            if (!(txtPrice.value >= 0 || txtPrice.value <= 100000000))
                event.preventDefault();

            if (txtProductName.value == "") {
                event.preventDefault();
                checkName.innerHTML = `<img src="@Url.Content("~/images/Business/warning.png")" style="width:20px;" />請輸入名稱`;
            }
            else
                checkName.innerHTML = "";

            //檢查有無選取配料類別
            document.getElementsByName("productOp").forEach(function (val) {
                if (val.checked) {
                    document.querySelector("#materialCheck").value = val.value;
                    document.querySelector("#checkMaterialType").innerHTML = ``;
                }
            })
            if (document.querySelector("#materialCheck").value == "" || document.querySelector("#materialCheck").value == " ") {
                event.preventDefault();
                document.querySelector("#checkMaterialType").innerHTML = `<img src="@Url.Content("~/images/Business/warning.png")" style="width:30px;"/>請選擇產品類別`;
            }
            else
                document.querySelector("#checkMaterialType").innerHTML = ``;

            document.querySelector("#materialCheck").value = "";
        })

        //驗證類別是否選擇
        selType.addEventListener("change", function () {
            if (selType.value === "請選擇商品類別") {
                event.preventDefault();
                document.querySelector("#checkType").innerHTML = `<img src="@Url.Content("~/images/Business/warning.png")" style="width:30px;"/>請選擇產品類別`;
            }
            else
                document.querySelector("#checkType").innerHTML = "";
        })
        //驗證價格是否為int
        txtPrice.addEventListener("blur", function () {
            if (!(txtPrice.value >= 0 || txtPrice.value <= 100000000))
                document.querySelector("#checkPrice").innerHTML = `<img src="@Url.Content("~/images/Business/warning.png")" style="width:30px;"/>請輸入數字`;
            else
                document.querySelector("#checkPrice").innerHTML = "";
        })
        //驗證有無輸入名稱
        txtProductName.addEventListener("focusout", function () {
            if (txtProductName.value === "")
                checkName.innerHTML = `<img src="@Url.Content("~/images/Business/warning.png")" style="width:20px;" />請輸入名稱`;
            else
                checkName.innerHTML = "";
        })
    </script>
}