@model IEnumerable<prjMSIT145_Final.ViewModels.CACouponViewModel>
@{
    ViewData["Title"] = "管理者控制台/優惠券管理";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
@section Styles{
    <style>
        #dataTable img{
            width:50%;
        }
    </style>
}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">優惠券管理</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">優惠券一覽表</h6>
        </div>
        <div class="card-body">
            <button id="buttonAdd" class="btn btn-secondary btn-icon-split mb-3" data-bs-toggle="modal" data-bs-target="#addModal">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">新增優惠券</span>
            </button>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Fid)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CouponCode)
                            </th>
                            
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.IsUsed)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Memo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NmemberName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NmemberID)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fid)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CouponCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                

                                <td>                                    
                                    @{
                                        if (item.IsUsed > 0)
                                        {
                                                                      @:V
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Memo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NmemberName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NmemberID)
                                </td>
                                <td>
                                    @{
                                        if(item.IsUsed == 0 && !string.IsNullOrEmpty(item.NmemberName)){
                                            string starPath = Url.Content("~/adminImg/star.png");
                                                    <img src='@starPath'/>
                                        }
                                        else{
                                                    <button name="btnUpdate" class="btn btn-info btn-circle" data-bs-target="#addModal">
                                                        <i class="fas fa-info-circle"></i>
                                                    </button>
                                                    <button class="btn btn-danger btn-circle">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                        }
                                    }
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增優惠券<span></span></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <input type="hidden" name="Fid" id="Fid">
                    <div class="form-group">
                        <label for="Price">扣除金額</label>
                        <input type="text" class="form-control" id="Price" name="Price" value="0"
                               placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="Title">標題</label>
                        <input type="text" class="form-control" id="Title" name="Title" value=""
                               placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="Memo">備註</label>
                        <textarea type="text" class="form-control" id="Memo" name="Memo" placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label for="NmemberID">所屬會員ID</label>
                        <input type="text" class="form-control" id="NmemberID" name="NmemberID" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="IsUsed">是否可用</label>
                        
                        <select class="form-control" id="IsUsed" name="IsUsed">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnDemo">Demo</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary" id="buttonSend">送出</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="msgAlert" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCloseMsg">確定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmDele" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">確定要刪除嗎?</label>
                </div>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnNo">取消</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnYes">確定</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>        
            $('.nav-item').eq(3).addClass('active').siblings().removeClass('active');
        let addModal = new bootstrap.Modal(document.getElementById('addModal'), {
            keyboard: false
        });
        let msgAlert = new bootstrap.Modal(document.getElementById('msgAlert'), {
            keyboard: false
        });
        let confirmDele = new bootstrap.Modal(document.getElementById('confirmDele'), {
            keyboard: false
        });

        $('#btnDemo').click(function () {           
            $('#Price').val('20');
            $('#Title').val('清明節優惠');
            $('#Memo').val('清明節連假終於來了，手搖飲料店都推出清明節咖啡優惠跟手搖飲優惠，大家可以趁清明節連假前往囤貨購買喔 ');           
        });
            
        $('#btnCloseMsg').click(function () {
            $('#msgAlert>label').text('');            
            location.reload(true);
        });
        $('[name=btnUpdate]').click(function(){
            addModal.show();
        });
        $('#buttonAdd').click(function(){
            clearData();
            $('#IsUsed').val(0);
        });
        const url = '@Url.Content("~/Coupon/ACouponEdit/")';
        $('#buttonSend').click(function () {
            //隱藏欄位中有Fid 的資料我們就是要做修改
            const id = $('#Fid').val();
            
            if (id) {
                //資料修改
                
                $.ajax({
                    url: url,
                    type: 'POST',
                    //contentType: 'application/json',
                    data: {
                        data: JSON.stringify({
                            Fid: id, 
                            Price: $('#Price').val(),
                            Memo: $('#Memo').val(),
                            Title: $('#Title').val(),
                            IsUsed: $('#IsUsed').val(),
                            NmemberID: $('#NmemberID').val()
                        })
                    },
                    dataType:"json",
                    success: function (msg) {
                        //console.log(`msg=${msg}`);
                        if (msg == 1){
                            //alert("修改成功");                            
                            addModal.hide();
                            $('#msgAlert label').text('修改成功');
                            msgAlert.show();
                            //location.reload();
                        }
                            
                    }
                }).done(function (data) {                    
                    clearData();
                })

            } else {
                //資料新增
                
                $.ajax({
                    url: url,
                    type: 'POST',
                    //contentType: 'application/json',
                    data: {
                        data: JSON.stringify({
                            Fid: 0,
                            Price: $('#Price').val(),
                            Title: $('#Title').val(),
                            Memo: $('#Memo').val(),
                            IsUsed: $('#IsUsed').val(),
                            NmemberID: $('#NmemberID').val()
                        })
                    },
                    dataType: "json"
                }).done(function (data) {
                    if(data==1){
                        //alert("新增成功");
                        addModal.hide();
                        $('#msgAlert label').text('新增成功');
                        msgAlert.show();
                        //location.reload();
                    }
                        
                    
                    clearData();
                })

            }

            
        })

        //編輯
        //先將要修改的資料寫到Modal中
        $('#dataTable>tbody').on('click', 'button:nth-child(1)', function () {
            // alert('編輯')
            const Fid = $(this).parents('tr').find('td:nth-child(1)').text().trim();
            const Price = $(this).parents('tr').find('td:nth-child(3)').text().trim();
            const Title = $(this).parents('tr').find('td:nth-child(5)').text().trim();
            const Memo = $(this).parents('tr').find('td:nth-child(6)').text().trim();
            const NmemberID = $(this).parents('tr').find('td:nth-child(8)').text().trim();
            let IsUsed = $(this).parents('tr').find('td:nth-child(4)').text().trim();
            IsUsed = IsUsed != '' ? 1 : 0;

            $('#Fid').val(Fid);
            $('#Price').val(Price);
            $('#Title').val(Title);
            $('#Memo').val(Memo);
            $('#IsUsed').val(IsUsed);
            $('#NmemberID').val(NmemberID);


        });

        //刪除
        let id;
        $('#dataTable>tbody').on('click', 'button:nth-child(2)', function () {
            id = $(this).parents('tr').find('td:first-child').text().trim();
            confirmDele.show();
            
        });
        $('#btnYes').click(function () {                        
            $.ajax({
                url: `@Url.Content("~/Coupon/ACouponDelete/")${id}`,
                type: 'GET'

            }).done(function (data) {                
                $('#msgAlert label').text('刪除成功');
                msgAlert.show();
                //location.reload();
            });
        });
        $('#btnNo').click(function () {
            confirmDele.hide();
        });

        function clearData() {
            $('input').val("");
            $('textarea').val("");
        }
    </script>

}

