@model IEnumerable<prjMSIT145_Final.ViewModels.CACouponViewModel>
@{
    ViewData["Title"] = "我的券夾";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@section Styles{    
    <link href="~/css/customer_css/cbsonlyclass.css" rel="stylesheet" />
    <style>
        @*券左半邊*@
        .form-group:nth-child(1){
            border-right: 2px dashed #dedede;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            overflow: hidden;
            flex: 10 1 200px;
            -webkit-mask-position: top left,top right,bottom left,bottom right;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: 51% 51%;
            -webkit-mask-image: radial-gradient(circle at top left,transparent 0,transparent 0px,#000 0),
            radial-gradient(circle at top right,transparent 0,transparent 10px,#000 0),
            radial-gradient(circle at bottom left,transparent 0,transparent 0px,#000 0),
            radial-gradient(circle at bottom right,transparent 0,transparent 10px,#000 0);
            mask-image: radial-gradient(circle at top left,transparent 0,transparent 0px,#000 0),
            radial-gradient(circle at top right,transparent 0,transparent 10px,#000 0),
            radial-gradient(circle at bottom left,transparent 0,transparent 0px,#000 0),
            radial-gradient(circle at bottom right,transparent 0,transparent 10px,#000 0);
        }

        @*券右半邊*@        
        .form-group:nth-child(2){            
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            flex: 1.2 0 60px;
            -webkit-mask-position: top left,top right,bottom left,bottom right;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: 51% 51%;
            -webkit-mask-image: radial-gradient(circle at top left,transparent 0,transparent 10px,#000 0),
            radial-gradient(circle at top right,transparent 0,transparent 0px,#000 0),
            radial-gradient(circle at bottom left,transparent 0,transparent 10px,#000 0),
            radial-gradient(circle at bottom right,transparent 0,transparent 0px,#000 0);
            mask-image: radial-gradient(circle at top left,transparent 0,transparent 10px,#000 0),
            radial-gradient(circle at top right,transparent 0,transparent 0px,#000 0),
            radial-gradient(circle at bottom left,transparent 0,transparent 10px,#000 0),
            radial-gradient(circle at bottom right,transparent 0,transparent 0px,#000 0);

            position:relative;
        }
        .form-group{
            background-color:rgb(254,249,226);
            padding:20px;
        }
        .form-group p{
            font-size:0.9em;
        }
        .exch.row{
            width:50%;        
            border-radius:10px;
            /*cursor: pointer;*/
            
        }
        .exch.row.showCoup{
            width:100%;                    
        }
       
        .exch.col-md-4{
            margin:10px auto;
            width:90%;
            text-align:center;
            display:flex;
            height:110px;
            
        }
        
        .hr{
            width:95%;
            margin:20px auto;           
            border: 1px solid rgb(213,213,213);
        }
        .hr.dotted{
            border-style:dotted;
        }
        .exch.col-md-4>div{
            /*margin:10px;*/
        }

        .exch.col-md-4 button{
            margin-top:10px;
        }
        .showCoupons{
            width:70%;
            display:flex;
            flex-wrap: wrap;
            margin:10px auto;
        }
        .btn.isUsed{
            line-height:1;
            font-size:0.8em;
        }
        .showCoupons:nth-child(1)>.col-9>.col-2{
            margin: 10px auto;
            text-align: center;
        }
        .showCoupons:nth-child(1) select{
            width:95%;
            
        }
        .showCoupons:nth-child(1){
            margin-top:20px;
        }
        .checkMark{
            position:absolute;
            top:1px;
            right:1px;
            width:20%;
            display:none;
            cursor: pointer;
        }
        .showCoupons:nth-child(2) .form-group:nth-child(1){
            cursor: pointer;
        }
        #btnSendCoup{
            margin:50px auto;
            width:15%;
            padding:10px;
        }
        .bottomBar{
            text-align: center;
        }
        .mb-3 input{
            width:95%;
        }
        .mb-3 textarea{
            width:95%;
        }
        #exampleModalLabel{
            font-size:1.2em;
        }
        #coupInvalid{
            text-align:center;
        }
    </style>
}
@section Scripts{
    
    <script>
        $(function(){
            $('#btnSendCoup').hide();
            
            let showCoupDetail = new bootstrap.Modal(document.getElementById('showCoupDetail'), {
                keyboard: false
            });
            let sendCoup = new bootstrap.Modal(document.getElementById('sendCoup'), {
                keyboard: false
            });
            let msgAlert = new bootstrap.Modal(document.getElementById('msgAlert'), {
                keyboard: false
            });
            $('#btnDemo').click(function(){
                $('[name="txtAccount"]').val('NM-005');
                $('[name="txtMessage"]').val('清明節快樂');
            });
            $('#btnSendCoup').click(function(){
                $('.showCoup>.mb-3').html('');
                let txtGiverNfid=$('.checkMark').data('nfid');
                let coupList='';
                let docFrag=document.createDocumentFragment();
                $('.checkMark').each(function(){
                    if ($(this).attr('src').indexOf('checked.png')>-1){
                        coupList += $(this).data('cid')+',';      
                        let cid = $(this).data('cid');
                        let coup = $(`div[data-cid=${cid}]`).clone();
                        coup.addClass('showCoup');
                        $(docFrag).append(coup);
                    }
                });
                if (coupList == '')
                {                   
                    $('#coupInvalid').text('請選擇至少一張優惠券');                    
                    return false;
                }
                $('#txtCfid').val(coupList.substring(0, coupList.length-1));
                $('#txtGiverNfid').val(txtGiverNfid);
                //console.log(docFrag);
                $('.showCoup>.mb-3').html(docFrag);
                sendCoup.show();
                $('#btnSend').removeAttr('disabled');
                $('span.text-danger').text('');
                $('[name=txtAccount]').val('');
                $('[name=txtMessage]').val('');
            });
            $('.showCoupons:nth-child(2)').on('click', '.checkMark',function(){
                let btnText = $(this).attr('src');
                if (btnText.indexOf('radio-button.png') > -1) {
                    $(this).attr('src', '@Url.Content("~/images/Coupon/checked.png")');
                        //$(this).off('mouseenter');
                        //$(this).off('mouseleave');                        
                }
                else if (btnText.indexOf('checked.png') > -1) {
                    $(this).attr('src', '@Url.Content("~/images/Coupon/radio-button.png")');
                    //$(this).on({ mouseenter: function () { $(this).attr('src','@Url.Content("~/images/Coupon/checked.png")');}});
                    //$(this).on({ mouseleave: function () {$(this).attr('src','@Url.Content("~/images/Coupon/radio-button.png")');}});
                }
            })
            //.on('mouseenter', '.checkMark', function () {
            //    $(this).attr('src', '@Url.Content("~/images/Coupon/checked.png")');
            //})
            //.on('mouseleave', '.checkMark', function () {
            //    $(this).attr('src', '@Url.Content("~/images/Coupon/radio-button.png")');
            //});


           

            $('#btnChangeCoup').click(function(){
                let btnText = $(this).text();
                $('#coupInvalid').text('');

                if(btnText=='優惠券轉贈'){
                    $('#btnSendCoup').show();
                    $(this).text('取消轉贈');
                    $(this).removeClass('btn-primary').addClass('btn-secondary');
                    $('[data-used=1] .checkMark').show();
                }else{
                    $('#btnSendCoup').hide();
                    $(this).text('優惠券轉贈');
                    $(this).removeClass('btn-secondary').addClass('btn-primary');
                    $('.checkMark').hide();
                    $('.checkMark').attr('src', '@Url.Content("~/images/Coupon/radio-button.png")');
                }
                
            });
            $('.showCoupons:nth-child(1) select').change(function(){
                let value=$(this).val();
                if(value==0){
                    $('[name="coupon"]').show();                    
                }                   
                else if(value==1){
                    $('[name="coupon"][data-used=1]').show().siblings('[name="coupon"][data-used=0]').hide();                    
                }                   
            });
            $('.showCoupons:nth-child(2)').on('click', /*'.exch.row.coupon'*/'.form-group:nth-child(1)', function () {
                showCoupDetail.show();
                let title=$(this).find('[name="lblTitle"]').text();
                let memo = $(this).find('[name="txtMemo"]').val();
                let price = $(this).find('[name="lblPrice"]').text();

                $('.modal-header h3').text(title);
                $('.modal-body label:nth-child(1)').text(memo);
                $('.modal-header label').text(price);

            });
            $('#btnCloseMsg').click(function () {
                $('.modal-header h3').text('');
                $('.modal-body label:nth-child(1)').text('');
                $('.modal-header label').text('');
                showCoupDetail.hide();
            });

            $('#btnSend').click(function(){
                if($('[name=txtAccount]').val().trim() == '')
                    return false;

                let coupList=$('#txtCfid').val();
                $(this).attr('disabled','disabled');
                $('span.text-danger').text('');
                $.ajax({
                    url:`@Url.Content("~/Coupon/CChangeCouponOwner/")`,
                    type:'post',
                    data:{
                        data:JSON.stringify({
                            coupList: coupList,
                            giverNfid: $('#txtGiverNfid').val().trim(),
                            receiverNfid: $('[name=txtAccount]').val().trim(),
                            txtMessage: $('[name=txtMessage]').val()
                        })
                    },
                    dataType:'json',
                    success:function(msg){
                        console.log(msg);
                        if (`${msg}`.indexOf('success success')>-1){
                            $('[name=txtAccount]').val('');
                            $('[name=txtMessage]').val('');
                            $('[name=txtCfid]').val('');
                            $('#txtGiverNfid').val('');
                            sendCoup.hide();
                            $('#msgAlert label').text('轉贈成功，已發信通知對方'/*msg*/);
                            msgAlert.show();
                        }
                        else if (`${msg}`.indexOf('Receiver Member ID not exist') > -1){
                            $('span.text-danger').text('對方ID不存在');
                            //return false;
                        }
                        
                        $('#btnSend').removeAttr('disabled');
                    }
                });
            });
            $('#btnCloseMsg2').click(function () {
                $('#msgAlert>label').text('');                     
                location.reload(true);                
            });
            $('#btnClose').click(function () {
                $('[name=txtAccount]').val('');
                $('[name=txtMessage]').val('');
                $('[name=txtCfid]').val('');
                $('#txtGiverNfid').val('');
            });
            $('select.form-control').change(function(){
                let shellHeight = $('#shell').height();
                let windowHeight = $(window).height() - 90;

                if (windowHeight < shellHeight) {
                    $('.Copyright').removeClass('fixed_footer');
                }
                else {
                    $('.Copyright').addClass('fixed_footer');
                }
            });
        });
    </script>
}
<div class="showCoupons">
        <div class="exch row col-9">
            <div class="col-2"><label class="col-form-label">使用狀態:</label></div>
            <div class="col-9">
                <select class="form-control">
                <option value="0">全部</option>
                <option value="1">可使用</option>
                </select>                
            </div>
        </div>        
        <div class="col-3">
            <button class="btn btn-primary" id="btnChangeCoup">優惠券轉贈</button>            
        </div>
</div>
<div class="showCoupons">
    @{
        string price = "";
        string showShortMemo = "";
        foreach(var item in Model){
            price = ((decimal)item.Price).ToString("###,###");
            showShortMemo = item.Memo;
                                                        @if (showShortMemo.Length > 50)
            {
                showShortMemo = showShortMemo.Substring(0, 50)+"   ......more";
            }

                                                        <div class="exch row coupon" name="coupon" data-cid="@item.Fid" data-used="@item.IsUsed">
                                                                                                                                                                                                                                                                                                                                                                                                                                            
                                                            <div class="exch col-md-4 ">
                                                                                                                                                                                                                                                                                                                                                                                                                            
                                                                <div class="form-group">
                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                                                    <h3 name="lblTitle">@item.Title</h3>
                                                                    <p class="control-label">@showShortMemo</p>
                                                                    <input type="hidden" name="txtMemo" value="@item.Memo"/>
                                                                </div>
                                                                <div class="form-group">
                                                                <img class="checkMark" data-cid="@item.Fid" data-nfid="@item.NmemberID" src="@Url.Content("~/images/Coupon/radio-button.png")">
                                                                <h2 name="lblPrice" class="control-label">@price 元</h2>
                                                                @if(item.IsUsed==1)
                    {
                                                                    <button class="btn btn-success isUsed">可使用</button>
                    }
                    else{
                                                                    <button class="btn btn-secondary isUsed">已使用</button>
                    }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
                                                                </div>
                                                            </div>
                                                        </div>
        }
    }    
</div>

<div class="bottomBar">
    <button class="btn btn-primary" id="btnSendCoup">轉贈優惠券</button>
</div>
<h3 class="text-danger" id="coupInvalid"></h3>
<div class="modal fade" id="showCoupDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3></h3>
                <label class="col-form-label"></label>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="col-form-label"></label>                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCloseMsg">確定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="sendCoup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">轉贈優惠券</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btnClose"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">請輸入會員ID</label>
                    <input type="text" class="form-control" id="recipient-name" name="txtAccount" value="">
                    <span class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">悄悄話</label>
                    <textarea class="form-control" id="message-text" name="txtMessage"></textarea>
                    <input class="form-control" id="txtCfid" name="txtCfid" type="hidden"/>
                    <input class="form-control" id="txtGiverNfid" name="txtGiverNfid" type="hidden"/>
                </div>

            </div>
             <div class="modal-body showCoup">
                 <div class="mb-3">

                </div>
             </div>
            <div class="modal-footer">                             
                <button type="button" class="btn btn-primary" id="btnDemo">demo</button>
                <button type="button" class="btn btn-primary" id="btnSend">送出</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="msgAlert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCloseMsg2">確定</button>
            </div>
        </div>
    </div>
</div>
