@model prjMSIT145_Final.ViewModels.CACouponViewModel

@{
    ViewData["Title"] = "CCouponExchange";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h1>CCouponExchange</h1>

<div>
    <h4>CACouponViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUsed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Memo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Memo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NmemberID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NmemberID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NmemberName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NmemberName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
