@model prjMSIT145_Final.Models.ProductOptionGroup
@{
    Layout = "_BusinessLayout";
    ViewData["Title"] = "BMaterialTypeAddnEdit";
}
@section Styles{
    <link rel="stylesheet" href="../css/ProductCategoryCreate.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/newTypeCreate.css">

    <style>
        .btnDeleteCheck {
            border: none;
            width: 15%;
            color: orange;
            font-size: 15px;
            background-color: transparent;
        }

        .btnDeleteCancel {
            border: none;
            width: 15%;
            color: black;
            font-size: 15px;
            background-color: transparent;
        }
    </style>
}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="width:100%">
                <h5 class="modal-title" id="exampleModalLabel">提醒</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @*確定要刪除嗎?*@
            </div>
            <div class="modal-footer" style="width:100%">
                <button type="button" class="btnDeleteCancel" data-bs-dismiss="modal">取消</button>
                <a id="linkDelete"><button style="width:70px;" class="btnDeleteCheck" data-bs-dismiss="modal">刪除</button></a>
            </div>
        </div>
    </div>
</div>
@*Demo*@
<div style="margin:0 0 20px 200px">
<button id="demo1" class="btn btn-outline-secondary">Demo類別1</button>
<button id="demo2" class="btn btn-outline-secondary">Demo類別1_new</button>
    <button id="demo3" class="btn btn-outline-secondary">Dem類別2</button>
</div>
    <div class="mainDiv flex">
    <div class="box">
        
        <a href="@Url.Content("~/AddMaterial/BList")"><img class="" src="../images/Business/backarrow.png" style="width:40px; height:45px;" /></a>
        
        <form method="post" enctype="application/x-www-form-urlencoded" action="BMaterialTypeSubmit">
            <div class="leftmargin">
                <div class="flex">
                    <input type="hidden" value="@Model.BFid" name="BFid" />
                    <input type="hidden" value="@Model.Fid" name="Fid" id="fid" />
                    <input class="leftTxt" type="text" placeholder=" 輸入類別名稱....." required name="OptionGroupName" />
                    <span id="checkName" style="font-size:16px; width:150px; margin-left:10px;"></span>
                    <input class="butt" id="btnSubmit" type="submit" value="儲存" />
                    <input class="butt" type="button" value="刪除" id="btnDelete" data-bs-toggle="modal" data-bs-target="#exampleModal" />
                </div>
                <hr style="border:1px solid #000; height:1px">
            </div>
            <div class="leftmargin">
                <span>是否可多選</span>
                <div class="form-check form-switch">

                    <label class="form-check-label" for="IsMultiple">
                        <input class="form-check-input" type="checkbox" role="switch" name="IsMultiple" id="isMultiple" style="width:50px; height:20px;">
                    </label>
                </div>
                <hr style="border:1px solid #000; height:1px">
            </div>
            <div class="leftmargin">
                <p>備註</p>
                <textarea class="textArea" rows="4" name="Memo" style="border-radius:10px;">-</textarea>
            </div>
        </form>
    </div>
    <div class="rigthDivMargin rightDiv leftBorder">
        <table class="table table-hover stripe">
            <thead>
            <th style="width:30%;">類別名稱</th>
            <th style="width:30%;">是否多選</th>
            <th style="width:50%;">備註</th>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        const txt = document.querySelector(".leftTxt"); //類別名稱
        const tbody = document.querySelector("#tbody"); //表格資料
        const tr = document.getElementsByName("tr"); //資料列
        const btnDelete = document.querySelector("#btnDelete"); //點擊刪除
        const linkDelete = document.querySelector("#linkDelete"); //確認刪除
        const modalBody = document.querySelector(".modal-body"); //未選擇刪除的類別,更改警告內容
        const fid = document.querySelector("#fid"); //已存在的類別id;
        const isMultiple = document.querySelector("#isMultiple"); //類別是否多選
        const textArea = document.querySelector(".textArea"); //類別備註
        const checkName = document.querySelector("#checkName"); //驗證有無輸入名稱

        document.querySelector("#demo1").addEventListener("click", function () {
            checkName.innerHTML = "";
            txt.value = "三明治類";
        })
        document.querySelector("#demo2").addEventListener("click", function () {
            checkName.innerHTML = "";
            txt.value = "現烤三明治類";
        })
        document.querySelector("#demo3").addEventListener("click", function () {
            checkName.innerHTML = "";
            txt.value = "飲料類";
        })

        list();
        async function list() {
            const response = await fetch("@Url.Content("~/Type/BOptionGroup")");
            const datas = await response.json();
            console.log(datas);

            let result = document.createDocumentFragment();
            result = "";
            datas.forEach(function (item, index) {
                if (item.isMultiple == 0)
                    item.isMultiple = "否";
                else
                    item.isMultiple = "是";
                result += `
                        <tr name='tr'>
                                <input type="hidden" name="Fid" value="${item.fid}" id="${item.fid}"/>

                                <td>${item.optionGroupName}</td>
                                <td>${item.isMultiple}</td>
                                <td>${item.memo}</td>
                        </tr>`
            })
            tbody.innerHTML = result;

            tr.forEach(function (value) {
                value.addEventListener("click", function () {
                    const id = this.children[0].value; //取得點取的資料列id
                    const name = this.cells[0].innerHTML; //取得點取的資料列名稱
                    const memo = this.cells[2].innerHTML; //取得點取的資料列備註
                    txt.value = name;
                    fid.value = id;
                    textArea.value = memo;
                    console.log(value);
                })
            })
        }

        //商品是否多選
        isMultiple.addEventListener("click", function () {
            if (isMultiple.checked)
                isMultiple.value = 1;
            else
                isMultiple.value = 0;
            //console.log(isMultiple);
        })

        //刪除
        btnDelete.addEventListener("click", async function () {
            console.log(fid.value)
            if (fid.value == 0) {
                modalBody.innerHTML = "選取要刪除的類別!";
                linkDelete.firstElementChild.innerHTML = "確定";
            }
            else {
                const request = await fetch(`@Url.Content("~/Type/BMaterialTypeDeleteList/${fid.value}")`);
                const count = await request.text();
                //console.log(count);
                modalBody.innerHTML = count;

                linkDelete.setAttribute("href", `@Url.Content("~/Type/BMaterialTypeDelete/${fid.value}")`);
            }
        })
        document.querySelector("#btnSubmit").addEventListener("click", function () {
            if (txt.value == "" ||txt.value == " ") {
                event.preventDefault();
                checkName.innerHTML = `<img src="@Url.Content("~/images/Business/warning.png")" style="width:20px;" />請輸入名稱`;
            }
            else
                checkName.innerHTML = "";
        })
        txt.addEventListener("blur", function () {
            if (txt.value == "" ||txt.value == " ") {
                checkName.innerHTML = `<img src="@Url.Content("~/images/Business/warning.png")" style="width:20px;" />請輸入名稱`;
            }
            else
                checkName.innerHTML = "";
        })
    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	}