@model List<prjMSIT145_Final.ViewModels.VOrdersViewModel>
@{
    Layout = "_CustomerLayout";
    ViewData["Title"] = "CList";
}

@section Styles{
    <link href="~/css/Customer_css/COrderList.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Customer_css/ShibaJump/style.css">
    <style>

    </style>
}

<div class="ShowOrderDisplay" id=app>
    @{
        foreach (var item in Model)
        {
            @if (item.OrderState == "0")
            {
                <mochi-box shiba="random" class="CursorPointer" id="Order @item.Fid">
                    <div class="OrderTime">
                        <div>@item.OrderTimeMM/@item.OrderTimedd @item.OrderTimeHH:@item.OrderTimeminute</div>
                    </div>
                    <div class="Column">
                        <div class="Flex">
                            <div class="LogoFrame">
                                <img src="~/images/Customer/Shopcard/Test/circlelogo.png" />
                            </div>
                        </div>
                        <div class="Column">
                            <h4 class="ShopName">@item.MemberName</h4>
                            <div class="TotalPrice">共 @item.TotalAmount 元</div>
                        </div>
                    </div>
                    <div class="Deletebtn">
                        <img src="~/images/Customer/OrderList/delete 24x24.png" id="DEL @item.Fid" />
                    </div>
                </mochi-box>
            }
        }
    }
</div>

@section Scripts{
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
    <script src="~/css/Customer_css/ShibaJump/script.js"></script>
    <script>
        let OrderDisplayArea = document.getElementById("app");
        let NewList = "";
        @{
            foreach (var item in Model)
            {
                @if (item.OrderState == "0")
                {
                    @:document.getElementById("DEL @(item.Fid)").addEventListener("click", function () {
                    @:DeleteOrderdatas(@(item.Fid));
                    @:});
                }
            }
        }

            async function DeleteOrderdatas(OFid) {
                const response = await fetch(`@Url.Content("~/Order/CCartDelete?OrderFid=${OFid}")`);
                const datas = await response.json();
                //OrderDisplayArea.innerHTML = ``;
                //for (let i = 0, max = datas[0].ordersList.length; i < max; i++) {
                //    console.log("123");
                //    if (datas[0].ordersList[i].orderState == "0") {
                //        console.log("456");
                //        NewList += `<mochi-box shiba="random" class="CursorPointer" id="Order ${datas[0].ordersList[i].fid}">
                //            <div class="OrderTime">
                //                <div>${datas[0].ordersList[i].orderTimeMM}/${datas[0].ordersList[i].orderTimedd} ${datas[0].ordersList[i].orderTimeHH}:${datas[0].ordersList[i].orderTimeminute}</div>
                //            </div>
                //            <div class="Column">
                //                <div class="Flex">
                //                    <div class="LogoFrame">
                //                        <img src="~/images/Customer/Shopcard/Test/circlelogo.png" />
                //                    </div>
                //                </div>
                //                <div class="Column">
                //                    <h4 class="ShopName">${datas[0].ordersList[i].memberName}< /h4>
                //                    <div class="TotalPrice">共 ${datas[0].ordersList[i].totalAmount} 元</div>
                //                </div>
                //            </div>
                //            <div class="Deletebtn">
                //                <img src="~/images/Customer/OrderList/delete 24x24.png" id="DEL ${datas[0].ordersList[i].fid}" />
                //            </div>
                //        </mochi-box>`;
                //    }
                //}
                //OrderDisplayArea.innerHTML = NewList;
                //NewList = "";
                location.href = "/Order/CCartList";
            }

        @{
            foreach (var item in Model)
            {
                @if (item.OrderState == "0")
                {
                    @:document.getElementById("Order @(item.Fid)").addEventListener("click", function () {
                    @:SendOrderdatas(@(item.Fid));
                    @:});
                }
            }
        }

            @*async*@ function SendOrderdatas(OFid) {
                @*const response = await fetch(`@Url.Content("~/Order/CCartSend?OrderFid=${OFid}")`);
                const datas = await response.json();*@
                location.href = `/OrderDetial/CartList?Fid=${OFid}`;
            }
    </script>
}

