@model List<prjMSIT145_Final.ViewModels.VOrdersViewModel>
@{
    Layout = "_CustomerLayout";
    ViewData["Title"] = "CList";
}

@section Styles{
    <link href="~/css/Customer_css/COrderList.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Customer_css/ShibaJump/style.css">
    <style>

    </style>
}

<div class="ShowOrderDisplay" id=app>
    @{
        foreach (var item in Model)
        {
            @if (item.OrderState == "0")
            {
                <mochi-box shiba="random" class="CursorPointer" id="Order @item.Fid">
                    <div class="OrderTime">
                        <div>@Convert.ToDateTime(item.OrderTime).ToString("MM")/@Convert.ToDateTime(item.OrderTime).ToString("dd") @Convert.ToDateTime(item.OrderTime).ToString("HH"):@Convert.ToDateTime(item.OrderTime).ToString("mm")</div>
                    </div>
                    <div class="Column">
                        <div class="Flex">
                            <div class="LogoFrame">
                                <img src="~/images/Customer/Shopcard/Test/circlelogo.png" />
                            </div>
                        </div>
                        <div class="Column">
                            <h4 class="ShopName">@item.MemberName</h4>
                            <div class="TotalPrice">共 @Convert.ToInt32(item.TotalAmount) 元</div>
                        </div>
                    </div>
                    <div class="Deletebtn">
                        <img src="~/images/Customer/OrderList/delete 24x24.png" id="DEL @item.Fid" />
                    </div>
                </mochi-box>
            }
        }
    }
</div>

@section Scripts{
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
    <script src="~/css/Customer_css/ShibaJump/script.js"></script>
    <script>
        let OrderDisplayArea = document.getElementById("app");
        @{
            foreach (var item in Model)
            {
                @if (item.OrderState == "0")
                {
                    @:document.getElementById("DEL @(item.Fid)").addEventListener("click", function () {
                    @:DeleteOrderdatas(@(item.Fid));
                    @:});
                }
            }
        }

            async function DeleteOrderdatas(OFid) {
                const response = await fetch(`@Url.Content("~/Order/CCartDelete?OrderFid=${OFid}")`);
                const datas = await response.json();
                OrderDisplayArea.innerHTML = ``;
                for(let i = 0,max = datas.length; i<max ;i++){
                    if(datas[i].OrderState == "0"){
                        OrderDisplayArea.innerHTML += `<mochi-box shiba="random" class="CursorPointer" id="Order ${datas[i].Fid}">
                            <div class="OrderTime">
                                 <div>@Convert.ToDateTime("@:${datas[i].OrderTime}").ToString("MM"))/@Convert.ToDateTime("@:${datas[i].OrderTime}").ToString("dd") @Convert.ToDateTime("@:${datas[i].OrderTime}").ToString("HH"):@Convert.ToDateTime("@:${datas[i].OrderTime}").ToString("mm")</div>
                            </div>
                            <div class="Column">
                                <div class="Flex">
                                    <div class="LogoFrame">
                                        <img src="~/images/Customer/Shopcard/Test/circlelogo.png" />
                                    </div>
                                </div>
                                <div class="Column">
                                    <h4 class="ShopName">${datas[i]..MemberName}< /h4>
                                    <div class="TotalPrice">共 @Convert.ToInt32("@:${datas[i].TotalAmount}") 元</div>
                                </div>
                            </div>
                            <div class="Deletebtn">
                                <img src="~/images/Customer/OrderList/delete 24x24.png" id="DEL ${datas[i].Fid}" />
                            </div>
                        </mochi-box>`;
                    }
                }                       
            }
    </script>
}

