@model IEnumerable<prjMSIT145Final.Web.ViewModels.CABusinessMemberViewModel>
@{
    ViewData["Title"] = "管理者控制台/商家會員管理";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">商家會員管理</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">會員一覽表</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Fid)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MemberAccount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MemberName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShopType)
                            </th>

                            
                            <th>
                                @Html.DisplayNameFor(model => model.EmailCertified)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model._IsSuspensed)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fid)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MemberAccount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MemberName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShopType)
                                </td>

                                
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.EmailCertified)*@
                                    @{
                                        if(item.EmailCertified > 0){
                                            @:V
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item._IsSuspensed)
                                </td>
                                <td>
                                    <a href='@Url.Action("ABusinessMemberDetails","Admin",new { id=item.Fid })' class="btn btn-info btn-circle">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    @*@Html.ActionLink("Details", "Details", new { id=item.Fid })*@

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>        
            $('.nav-item').eq(1).addClass('active').siblings().removeClass('active');
    </script>
        
}