@model IEnumerable<prjMSIT145_Final.ViewModels.CAAdImg>
@{
    ViewData["Title"] = "ADisplayImgManage";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">輪播圖預覽</h5>
        </div>
        <div class="card-body">

            <div class="addAdImg">
                <h5>+</h5>
            </div>
            <div id="sortable" style="display: flex; padding-top: 0;" class="card-body">
                @{
                    foreach(var item in Model){
                        if (item.OrderBy > 0)
                        {
                                                <div class="divAds" id="@item.Fid" data-id="@item.Fid" data-name="@item.ImgName" data-st="@item.st" data-et="@item.et" data-link="@item.Hyperlink" data-blt="@item.ImgBelongTo">
                                                    <img class="adthumbs" src=@Url.Content("~/adminImg/adDisplay/"+item.ImgName) alt="">
                                                </div>
                        }
                    }
                }

            </div>
            <div>
                <button id="btnSave" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">儲存</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <!-- <div class="card-header py-3"></div> -->
        <div class="card-body">
            <div class="showAdImg">
                @{
                    var nModel = Model.ToList();
                    foreach(var item in Model.ToList()){
                        if(item.OrderBy==0){
                            nModel.Remove(item);
                        }
                    }
                }
                <img src="@Url.Content("~/adminImg/adDisplay/"+nModel[0].ImgName)" alt="">

            </div>
            <div class="adInfo">

                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                        <tbody>
                                                        
                            <tr>
                                <td>@Html.DisplayNameFor(model=>model.ImgName)</td>
                                <td id="tdImgName">
                                    @nModel[0].ImgName
                                </td>

                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model=>model.ImgBelongTo)</td>
                                <td id="tdImgBelongTo">
                                    @nModel[0].ImgBelongTo
                                </td>

                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model=>model.st)</td>
                                <td id="tdStartTime">                                    
                                    <input type="date" value="@nModel[0].st">
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model=>model.et)</td>
                                <td id="tdEndTime">
                                    <input type="date" value="@nModel[0].et">
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model=>model.Hyperlink)</td>
                                <td id="tdHyperlink">
                                    <input type="text" value="@nModel[0].Hyperlink">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="">

                        <button id="btnSave" class="btn btn-danger btn-icon-split" type="submit">
                            <span class="icon text-white-50">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                            <span class="text">刪除此張</span>
                        </button>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">中間廣告圖預覽</h5>
        </div>
        <div class="card-body">
            @{
                foreach (var item in Model)
                {
                    if (item.OrderBy == 0){
                                                                            <div class="homeSmallAd">
                                                                                <img src=@Url.Content("~/adminImg/adDisplay/"+item.ImgName) alt="">
                                                                            </div>
                    }
                }
            }
            
        </div>
        <div class="card-body">
            @{

                foreach (var item in Model)
                {
                    if (item.OrderBy == 0){
                                                                        <div class="table-responsive smallAdTable">
                                                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                                                <tbody>

                                                                                    <tr>
                                                                                        <td>@Html.DisplayNameFor(model=>model.Fid)</td>
                                                                                        <td>@item.Fid</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>@Html.DisplayNameFor(model=>model.ImgName)</td>
                                                                                        <td>@item.ImgName</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>@Html.DisplayNameFor(model=>model.Hyperlink)</td>
                                                                                        <td><input type="text" value="@item.Hyperlink"> </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td colspan="2">
                                                                                            <div id="">

                                                                                                <button id="btnSave" class="btn btn-secondary btn-icon-split" type="submit">
                                                                                                    <span class="icon text-white-50">
                                                                                                        <i class="fas fa-arrow-right"></i>
                                                                                                    </span>
                                                                                                    <span class="text">瀏覽..</span>
                                                                                                </button>

                                                                                            </div>
                                                                                        </td>

                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                    }
                }
            }
            
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(function () {
            let sortablePositions;
            let ads;
            $('#sortable>div:first').css('border', '7px solid red');
            $("#sortable").sortable({
                cursor: "move",
                items: "div",                        //只是div可以拖動
                opacity: 0.6,                       //拖動時，透明度為0.6
                revert: false,                       //釋放時，增加動畫
                update: function (event, ui) {       //更新排序之後
                    console.log($(this).sortable("toArray"));
                    //console.log(sortablePositions);
                    if (sortablePositions != $(this).sortable("toArray")){
                        sortablePositions = $(this).sortable("toArray");
                        ads=new Array();
                        $(sortablePositions).each(function (i,value) {
                            
                            let ad = {
                                sFid: value,
                                ImgName:$(`[data-id=${value}]`).data('name'),
                                StartTime: $(`[data-id=${value}]`).data('st')/*"2019-07-26T00:00:00"*/,
                                EndTime: $(`[data-id=${value}]`).data('et')/*"2019-07-31T00:00:00"*/,
                                Hyperlink: $(`[data-id=${value}]`).data('link'),
                                OrderBy: i + 1,
                            };
                            ads.push(ad);
                        });

                        console.log(JSON.stringify(ads));
                        //console.log(ads);

                        $.ajax({
                            url: `@Url.Content("~/Admin/changeAdOrderBy")`,
                            type: "post",
                            data:{ data:JSON.stringify(ads)},
                            dataType: "json",
                            success: function (msg) {
                                console.log(msg);

                                //$(msg).each(function (key, value) {
                                //    //console.log(value);
                                //    $('#tdFid').text(value.fid);
                                //    $('#tdImgName').text(value.imgName);
                                //    $('#tdImgBelongTo').text(value.imgBelongTo);
                                //    $('#tdStartTime>input').val(value.starttime);
                                //    $('#tdEndTime>input').val(value.Endtime);
                                //    $('#tdHyperlink>input').val(value.hyperlink);
                                //    $('.showAdImg>img').attr('src', `@Url.Content("~/adminImg/adDisplay/")${value.imgName}`);
                                //});

                            }
                        });
                    }
                        
                    //console.log("New position(update): " + ui.item.index());
                    
                }
                
            });

            let clickedTarget = $('.divAds').eq(0).data('id');
            $('#sortable>div').mousedown(function(){
                clickedTarget=$(this).data('id');
                
                $(this).css('border','7px solid red').siblings().css('border','0');
                
                //$.ajax({
                //    url: `@Url.Content("~/Admin/loadImgInfo")`,
                //    type: "post",
                //    data: {
                //        "fid": $(this).attr('data-id')
                        
                //    },
                //    dataType: "json",
                //    success: function (msg) {
                        
                //        $(msg).each(function(key,value){
                //            //console.log(value);
                //            $('#tdFid').text(value.fid);
                //            $('#tdImgName').text(value.imgName);
                //            $('#tdImgBelongTo').text(value.imgBelongTo);
                //            $('#tdStartTime>input').val(value.st);
                //            $('#tdEndTime>input').val(value.et);
                //            $('#tdHyperlink>input').val(value.hyperlink);
                //            $('.showAdImg>img').attr('src', `@Url.Content("~/adminImg/adDisplay/")${value.imgName}`);
                //        });
                        
                //    }
                //});

                $('#tdFid').text($(this).data('id'));
                $('#tdImgName').text($(this).data('name'));
                $('#tdImgBelongTo').text($(this).data('blt'));
                $('#tdStartTime>input').val($(this).data('st'));                
                $('#tdEndTime>input').val($(this).data('et'));
                $('#tdHyperlink>input').val($(this).data('link'));
                $('.showAdImg>img').attr('src', `@Url.Content("~/adminImg/adDisplay/")${$(this).data('name')}`);
            });

            $('#tdStartTime>input').change(function(){                
                let st=$(this).val();
                //console.log(st);
                //console.log(clickedTarget);
                $(`[data-id=${clickedTarget}]`).attr('data-st',st);
            });
            $('#tdEndTime>input').change(function(){                
                let et=$(this).val();                
                $(`[data-id=${clickedTarget}]`).attr('data-et',et);
            });
            $('#tdHyperlink>input').change(function () {
                let link = $(this).val();                
                $(`[data-id=${clickedTarget}]`).attr('data-link', link);
            });

            $('#btnSave').click(function(event){
                event.preventDefault();
                //todo adImg存檔
            });
        });
    </script>
}
@section Styles{
    <style>

        .memberImg {
            width: 50px;
            /* background-color: #9e4e27; */
        }

        .searchImg {
            width: 30px;
        }

        img.adthumbs {
            width: 100px;
        }

        .card-body {
            display: flex;
        }

        .card-body > div {
            margin-left: 10px;
        }

        .card-body > ul {
            display: flex;
        }

        .card-body > ul li {
            list-style: none;
            padding-left: 10px;
        }

        .addAdImg {
            width: 100px;
            height: 70px;
            border: 3px dotted gray;
            text-align: center;
        }

        .addAdImg h5 {
            line-height: 70px;
        }

        .div1 {
            display: flex;
            position: relative;
            /* border: 1px solid #abbde4;   */
            padding: 5px;
            display: inline-block;
        }

        .showAdImg {
            /* width: 100%; */
            height: 40vh;
            /* margin: 0 auto; */
        }

        .adInfo {
            width: 70%;
        }

        .adInfo table input {
            width: 70%;
        }

        .showAdImg img {
            height: 100%;
        }

        .homeSmallAd {
            width: 30%;
            margin: 0 10%;
        }

        .homeSmallAd img {
            width: 100%;
            height: 100%;
            padding: 0 20px;
        }

        .smallAdTable {
            margin: 0 50px;
        }
    </style>
}
