@using System.Text.Json;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>日柴Daily</title>
    <link rel="shortcut icon" href="~/images/Customer/shiba.ico" />
    <link href="~/css/Customer_css/CNavigation.css" rel="stylesheet" />
    <link href="~/css/Customer_css/CFooterstyle.css" rel="stylesheet" />
    <link href="~/css/Customer_css/bot.css" rel="stylesheet" />
    <link href="~/css/Customer_css/CBSonlyClass.css" rel="stylesheet" />

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/prjMSIT145_Final.styles.css" asp-append-version="true" />*@
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        .spaname{
            color:aqua;
            font-weight:bold;
        }

        .fixed_footer{
            position:fixed;
            bottom:0px;
            left: 0px;
            right: 0px;
        }

         #cartItem {           
            width: 60px;
            height: 50px;
        }
       .cartOrdersQty{
        
         width: 20px;
         height: 20px;
         line-height: 20px;  
         text-align: center;          
         color: white;
         font-size: 12px;
         font-weight: 700;
         border-radius: 50%;  
         position: relative;
         bottom: 60px;
         left: 50px;
       }
        .cartOrdersQty.red{
            background-color: red;
        }
        .Navigationbar_Direct>li{           
        margin: auto 10px;
    }
    .Navigationbar_Direct>li:nth-child(2){
        padding-top: 42px;
    }
             

    </style>
    
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div id="shell">
    <header class="Navigationbar_Index">
        <nav>
            <ul class="Navigationbar_Direct">
                <li><a asp-area="" asp-controller="Home" asp-action="CIndex">訂購</a></li>
                    <li>                        
                        <div id="cartItem">
                            <a asp-area="" asp-controller="Order" asp-action="CCartList">購物車</a>
                        </div>
                        @{
                            string nfid = "";
                            if (Context.Session.Keys.Contains(CDictionary.SK_LOGINED_USER))
                            {
                                string json = Context.Session.GetString(CDictionary.SK_LOGINED_USER);
                                NormalMember x = JsonSerializer.Deserialize<NormalMember>(json);
                                
                                if (x != null)
                                {
                                    nfid = x.Fid.ToString();                                    
                                }                               
                            }
                             @*購物車顯示訂單數量*@
                             <div class="cartOrdersQty" data-nfid="@nfid"></div>                                                                                    
                        }                        
                </li>
                <li><a asp-area="" asp-controller="OrderDetial" asp-action="List">訂單</a></li>
                <li><a asp-area="" asp-controller="Coupon" asp-action="CCouponExchange">兌換專區</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="CIndex">客服信箱</a></li>
            </ul>
        </nav>
        <a class="Navigationbar_Logo" asp-area="" asp-controller="Home" asp-action="CIndex"><img class="Navigationbar_Logo" src="~/images/Customer/Navigation/shibaLogo_row1.png" /></a>
        <nav>
             
            <ul id="alink" class="Navigationbar_Member">
                @{
                    if(Context.Session.Keys.Contains(CDictionary.SK_LOGINED_USER)){
                        string  json = Context.Session.GetString(CDictionary.SK_LOGINED_USER);
                        NormalMember x = JsonSerializer.Deserialize<NormalMember>(json);
                        string membername = x.MemberName.Substring(1, 2);
                          if(x.MemberPhotoFile!=null){

                                                                    <li><a href=@Url.Action("Edit","CustomerMember")><img src="@Url.Content($"~/images/Customer/Member/{x.MemberPhotoFile}")" style="width:55px;border-radius:30px" /><span class="spaname">@membername</span><p>&emsp;會員中心</p></a></li>
                          
                          }
                          else{
                                                                    <li><a href=@Url.Action("Edit","CustomerMember")><img src="@Url.Content("~/images/Customer/Member/photo.png")" style="width:55px;border-radius:30px" /><p>&emsp;會員中心</p></a></li>
                          }
                            //<li><a id="aloginout" href=@Url.Action("Loginout","CustomerMember", null,new {onclick="return confirm('確定要刪除嗎?')"})><p>登出</p></a></li>

                                                                  <li><p style="margin-top:28px;">@Html.ActionLink("登出", "Loginout","CustomerMember", null,new {onclick="return confirm('確定要登出嗎?')"})</p></li>
                          
                    }else{
                                                                    <li><a href=@Url.Action("Login","CustomerMember")><img src="@Url.Content("~/images/Customer/Navigation/person 32x32.png")" /><p>&emsp;登入 / 註冊</p></a></li>
                    }
                }
               
            </ul>
           @* <ul class="Navigationbar_Member">
                <li><a asp-area="" asp-controller="CustomerMember" asp-action="Edit"><img src="~/images/Customer/Navigation/person 32x32.png" /><p>&emsp;會員 / 編輯</p></a></li>
            </ul>*@
        </nav>
    </header>
     
    <main>
        @RenderBody()
            
    </main>
       
    <footer class="Copyright">
        <a asp-area="" asp-controller="Home" asp-action="CIndex"><img class="Footer_Logo" src="~/images/Customer/Navigation/shibaLogo_row1.png" /></a>
        <p><a asp-area="" asp-controller="Home" asp-action="CIndex">&copy;&ensp;2023&ensp;ShibaDaily&ensp;臺灣</a></p>
    </footer>
        @*Azure機器人*@
        <div class="azureLogo"
             id="azureLogo"
             data-bs-toggle="collapse"
             data-bs-target="#azure"
             aria-expanded="false"
             aria-controls="collapseExample">
            <img src="@Url.Content("~/images/Problem/DailyBot.png")" alt="DailyLogo" />
        </div>
        <div class="azure collapse" id="azure">
            <div class="card card-body ">
                <iframe src='https://webchat.botframework.com/embed/msit14501daily-bot?s=sBZOKBWuvAU.FFRe_6cBbQ1LCnnx85WWa4mkmpEfJqewEceFCfWMPMw' style='min-width: 380px;max-width:380px; min-height: 700px; border:none;'></iframe>
            </div>
        </div>

        <!-- 要把collapse 加入id=collapseExample的class裡 -->
        <!-- 手動刻 -->
        <div class="logoDiv "
             id="logoDiv"
             data-bs-toggle="collapse"
             data-bs-target="#collapseExample"
             aria-expanded="false"
             aria-controls="collapseExample">
            <img src="@Url.Content("~/images/Problem/DailyBot.png")" alt="DailyLogo" />
        </div>


		<div class="logo collapse" id="collapseExample">
			<div class="card card-body" style="">
                <!-- 以下自己刻 -->
                <div class="msgDiv scroll">
                    <div class="display serviceDiv">
                        <div class="imgDiv"><img src="~/images/Problem/dailyLogo.png" /></div>
                        <div class="serviceMsg">
                            你好，請輸入問題，以便為您解答!
                            <div class="qDiv">
                                <p>&nbsp;常見問題:</p>
                                <table class="table table-hover">
                                    <tr><td style="border-bottom:1px solid lightgray">變更或取消訂單</td></tr>
                                    <tr><td style="border-bottom:1px solid lightgray">收到的商品有誤</td></tr>
                                    <tr><td style="border-bottom:1px solid lightgray">沒收到優惠券</td></tr>
                                    <tr><td style="border-bottom:1px solid lightgray">信用卡退款</td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="resultDiv">
                        @*<div class="display userDiv">
                        <div class="userMsg">信用卡退款</div>
                        <div class="imgDiv"><img src="images/user.png" alt="" /></div>
                        </div>*@
                    </div>
                </div>

                <div class="txtDiv display">
                    <input type="text" id="txt" />
                    <button id="btnSubmit" type="button"><img src="~/images/Problem/send.png" /></button>
                </div>
            </div>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>

        <script src="~/js/bot.js"></script>  @*機器人Js檔*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("UpperScripts", required: false)
    <script>
        $(function(){
            let nfid= $('.cartOrdersQty').data('nfid');
            //console.log(`nfid=${nfid}`);
            if (nfid > 0){
                    $.ajax({
                        url: `@Url.Content("~/CustomerMember/getCartOrderQty")`,
                        type: 'post',
                        data: {
                            data: nfid
                        },
                        dataType: 'json',
                        success: function (msg) {
                            $('.cartOrdersQty').text(msg);
                            $('.cartOrdersQty').addClass('red');
                        }
                    });
            }else{
                    $('.cartOrdersQty').text('');
                    $('.cartOrdersQty').removeClass('red');
            }
            
            changeFooter();

            $(window).resize(function(){
                changeFooter();
            });

            function changeFooter(){
                let shellHeight = $('#shell').height();
                let windowHeight = $(window).height()-90;            

                if (windowHeight < shellHeight) {
                    $('.Copyright').removeClass('fixed_footer');
                }
                else{
                    $('.Copyright').addClass('fixed_footer');
                }
            }

        });


    </script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
